.main.apply {
  padding-bottom: 0px;
  .form-wrap {
    width: 100%;
    height: 100%;
  }
}

.form-wrap {
  min-height: 100vh;
  iframe{ 
    position: absolute; 
    left:0; 
    right:0; 
    bottom:0; 
    top:0; 
    border:0;
  }
}

.page-template-page-form {
  overflow: hidden;
  height: auto;
  min-height: auto;
  #header {
    position: absolute;
    width: 100%;
    top: -116px;
    opacity: 0;
  }
}