.post.single .inner {
  .comment-content {
    margin-bottom: 5px;
    p {
      color: #61646c;
      font-size: 16px;
      line-height: 26px;
      font-family: $font1-regular;
      margin-bottom: 10px;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  ol.comments {
    list-style: none;
    padding: 0;
    margin: 0;
    li {
      padding:  0;
      list-style: none;
      &:before {
        display: none;
      }
      ol.children {
        padding-left: 116px;
        box-sizing: border-box;
      }
    }
    li.comment.bypostauthor {

    }
  }
}

.comment-notes {
  visibility: hidden;
  height: 0;
  overflow: hidden;
}

ol.comments {
  li.comment {
    position: relative;
    width: 100%;
    .author-tag {display: none;}
    > article {
      margin-bottom: 30px;
    }
    ol.children {

    }
    .author-tag {
      position: absolute;
      bottom: -9px;
      left: 50%;
      transform: translate(-50%, 0);
      font-size: 10px;
      line-height: 10px;
      box-sizing: border-box;
      color: white;
      text-transform: uppercase;
      text-align: center;
      font-family: $font1-bold;
      padding: 5px;
      background-color: rgba(32,169,135,0.9);
      box-shadow: 0 2px 8px 1px rgba(32, 169, 135, 0.4);
    }
    .reply{
      a {
        color: #727c86;
        text-decoration: none;
        font-family: $font1-bold;
        font-size: 14px;
      }
    }
  }

  li.comment.bypostauthor {
    .author-tag {display: inline-block;}
    > article {
      position: relative;
      border: 2px solid #f4f8fa;
      border-radius: 5px;
      padding: 25px 30px;
      box-sizing: border-box;
      margin-bottom: 30px;
    }
  }
  > li.comment.bypostauthor {
    .author-pp {
      left: 30px;
      top: 25px;
    }
  }
}

.comment-head {
  margin-bottom: 5px;
  .author-name {
    font-family: $font1-bold;
    color: #109c79;
    font-size: 18px;
    line-height: 18px;
    padding-right: 10px;
    vertical-align: middle;
  }
  .comment-date {
    font-size: 12px;
    color: #61646c;
    font-family: $font1-regular;
    vertical-align: middle;
    line-height: 18px;
  }
}

.author-pp {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 64px;
  height: 64px;
  .author-photo {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 100%;
    border-radius: 5px;
    overflow: hidden;
    img {
      position: absolute;
      width: 100%;
      height: auto;
      display: block;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }
}

.comment-body {
  padding-left: 84px;
  box-sizing: border-box;
  position: relative;
  width: 100%;
}

.comments-wrap {
  position: relative;
  padding-bottom: 150px;
  .paginate {
    .pagination {
      &:empty {visibility: hidden;}
      .pager.page-next,
      .pager.page-prev {
        a {
          color: #222;
        }
        &:hover {
          a {
            color: #11b98f;
          }
        }
      }
      .page-number {
        a {
          text-decoration: none;
          color: #222;
          font-family: akkurat-bold,Arial,Helvetica,sans-serif;
          display: inline-block;
          line-height: 50px;
          padding: 0 6px;
          box-sizing: border-box;
          cursor: pointer;
          &:hover {
            color: #11b98f;
          }
        }
      }
      .page-number.disabled {
        color: #ccc;
        display: none;
        &:hover {
          span {
            color: #ccc;
          }
        }
      }
    }
  }
}

.comments {
  overflow-x: hidden;
  > li.comment {
    display: block;
    transform: translate(-100%, 0);
    opacity: 0;
    transition: all 0.3s ease;
  }
  > li.comment.hidden {
    display: none;
  }
  > li.comment.animate {
    display: block;
  }
  > li.comment.animateIn {
    transform: translate(0, 0);
    opacity: 1;
    &:nth-child(1) {

    }
    &:nth-child(2) {

    }
    &:nth-child(3) {

    }
    &:nth-child(4) {

    }
  }
  > li.comment.animateOut {
    
  }
}

.modal.comment-response {
  background-color: rgba(0,0,0,0.8);
  .response-modal {
    position: relative;
    background-color: white;
    display: inline-block;
    width: auto;
    padding: 45px 70px;
    border-radius: 5px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    .close-modal {
      position: absolute;
      right: -12px;
      top: -12px;
      width: 30px;
      height: 30px;
      z-index: 889;
      background-color: #11b98f;
      cursor: pointer;
      border-radius: 30px;
      &:before,
      &:after {
        background-color: white;
        position: absolute;
        content: '';
        display: inline-block;
        transform: rotate(45deg);
      }
      &:before {
        width: 16px;
        height: 2px;
        left: 50%;
        top: 50%;
        margin-top: -1px;
        margin-left: -8px;
      }
      &:after {
        width: 2px;
        height: 16px;
        left: 50%;
        top: 50%;
        margin-top: -8px;
        margin-left: -1px;
      }
    }
    p.ajax-error, p.wdpajax-error {
      color: #db7777;
      font-size: 16px;
      line-height: 16px;
      margin-bottom: 20px;
      font-family: akkurat-regular,Arial,Helvetica,sans-serif;
    }
  }
}

@media (max-width: 667px) {
  .post.single .comments-header h5 {
    font-size: 18px;
    line-height: 42px;
  }
  .comments-header {
    height: 42px;
    .btn.big {
      padding: 15px 25px;
      font-size: 12px;
    }
  }
  .comments-wrap {
    padding-bottom: 0px;
    .paginate {
      position: relative;
      bottom: auto;
      left: 50%;
      display: inline-block;
      transform: translate(-50%,0);
      padding: 0 60px;
      margin-top: 60px;
      .pagination {
        background: transparent;
        padding: 0 0;
        box-shadow: 0 0 0px rgba(76,83,89,.2);
        .page-number {
          display: none !important;
        }
        .page-number.disabled {
          display: none !important;
        }
      }
    }
  }
}