.theme-viewer {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 9999;
  background-color: white;
  transform: translateX(100%);
  transition: all 0.5s ease;
  iframe {
    position: absolute;
    width: 100%;
    height: 100%;
    border: 0;
    outline: 0;
  }
}

.theme-viewer.active {
  transform: translateX(0);
  transition: all 0.5s ease;
}

.modal.active {
  transform: translateX(-100%);
  transition: all 0.5s ease;
}

.viewer-target {
  position: relative;
  width: 100%;
  overflow: hidden;
  min-height: 100%;
  box-sizing: border-box;
}

.back {
  position: absolute;
  font-family: $font1-bold;
  font-size: 16px;
  border-radius: 3px;
  z-index: 4;
  left: 40px;
  top: 40px;
  text-decoration: none;
  color: white;
  background-color: #11b98f;
  padding: 17px 30px 17px 30px;
  box-shadow: 1px 1px 3px 0 rgba(76, 83, 89, 0.3), 0 2px 10px 0 rgba(76, 83, 89, 0.3);
  box-sizing: border-box;
  display: inline-block;
  border-right: 1px solid #0ca881;
  &:hover {
    box-shadow: 0 5px 11px 0 rgba(76, 83, 89, 0.2), 0 4px 15px 0 rgba(76, 83, 89, 0.2);
    background-color: #00be92;
  }
}
