.btn {
  position: relative;
  box-sizing: border-box;
  text-shadow: 0 0 0;
  font-weight: normal;
  display: inline-block;
  border-radius: 3px;
  box-shadow: 1px 1px 3px 0 rgba(76, 83, 89, 0.2), 0 2px 10px 0 rgba(76, 83, 89, 0.2);
  font-family: $font1-regular;
  border: 0;
  outline: 0;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
  &:hover {
    box-shadow: 0 5px 11px 0 rgba(76,83,89,0.2),0 4px 15px 0 rgba(76,83,89,0.2);
    background-color: #00be92;
  }
}
.btn.big {
  padding: 22px 45px 22px 45px;
}
.btn.medium {
  padding: 17px 45px 17px 45px;
}
.btn.green {
  background-color: $color1;
  color: white;
}

.btn.grey {
  background-color: #eaf1f6;
  color: #727c86;
}

.anim-link {
  position: relative;
  display: inline-block;
  color: white;
  font-family: $font1-regular;
  text-decoration: none;
  &:before {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background-color: #11b98f;
    position: absolute;
    bottom: -5px;
    left: 0;
    transition: all 0.2s ease;
  }
  &:hover {
    &:before {
      width: 100%;
      transition: all 0.2s ease;
    }
  }
}

input[type="text"],
textarea,
input[type="email"]{
  border: 0;
  outline: 0;
  padding: 0 0 15px 0;
  box-sizing: border-box;
  box-shadow: inset 0 0 0 transparent;
  border-radius: 0;
  font-family: $font1-regular;
  font-size: 18px;
  color: #2d2d2d;
  border-bottom: 2px solid #e8eaec;
  margin-bottom: 30px;
  background-color: transparent;
  &::-webkit-input-placeholder {color: #b8c0c7;}
  &:-moz-placeholder {color: #b8c0c7;}
  &::-moz-placeholder {color: #b8c0c7;}
  &:-ms-input-placeholder {color: #b8c0c7;}
}
.ninja-forms-cont {
  .textarea-wrap {
    margin-bottom: 0px;
    textarea {
      height: 170px;
      color: #d8dde1;
      background-color: transparent;
    }
  }
}
input[type="submit"] {
  position: relative;
  background-color: #11b98f;
  padding: 22px 45px 22px 45px;
  vertical-align: middle;
  box-sizing: border-box;
  text-shadow: 0 0 0;
  font-weight: normal;
  border-radius: 3px;
  box-shadow: 1px 1px 3px 0 rgba(76, 83, 89, 0.2), 0 2px 10px 0 rgba(76, 83, 89, 0.2);
  color: white;
  font-family: $font1-regular;
  border: 0;
  outline: 0;
  transition: all 0.2s ease-in-out;
  &:hover {
    box-shadow: 0 5px 11px 0 rgba(76,83,89,0.2),0 4px 15px 0 rgba(76,83,89,0.2);
    background-color: #00be92;
  }
}

.submit-container input[type="submit"], 
.submit-container input[type="button"] {
  border: 0;
  outline: 0;
  background-color: #11b98f;
  border-radius: 3px;
  font-family: "akkurat-regular", Arial, Helvetica, sans-serif;
  box-shadow: 1px 1px 3px 0 rgba(76, 83, 89, 0.2), 0 2px 10px 0 rgba(76, 83, 89, 0.2);
  color: white;
  padding: 22px 18%;
  width: 100%;
  display: inline-block;
  transition: all 0.2s ease-in-out;
  &:hover {
    box-shadow: 0 5px 11px 0 rgba(76,83,89,0.2),0 4px 15px 0 rgba(76,83,89,0.2);
    background-color: #00be92;
  }
}

.text-wrap.label-above,
.textarea-wrap.label-above {
  position: relative;
  label {
    display: none !important;
  }
}
.ninja-forms-required-items,
.ninja-forms-field-error {display: none;}
.ninja-forms-response-msg {
  div {
    padding: 15px 20px 15px 20px;
    border-radius: 4px;
    font-family: $font1-regular;
    font-size: 18px;
    line-height: 26px;
    color: #1d1d1d;
  }
  p {margin-bottom: 0 !important;}
}
.ninja-forms-response-msg.ninja-forms-error-msg {
  margin-bottom: 30px;
  div {
    background-color: #f2dede;
    border-color: #f2dede;
  }
}
.ninja-forms-response-msg {
  div {
    background-color: #dff0d8;
    border-color: #dff0d8;
  }
}

.nf-field-container, #ninja_forms_required_items {
  margin-bottom: 40px;
}