@font-face {
  font-family: "akkurat-light";
  src:url("../fonts/akkurat-light.eot");
  src:url("../fonts/akkurat-light.eot?#iefix") format("embedded-opentype"),
      url("../fonts/akkurat-light.woff2") format("woff2"),
      url("../fonts/akkurat-light.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "akkurat-regular";
  src:url("../fonts/akkurat-regular.eot");
  src:url("../fonts/akkurat-regular.eot?#iefix") format("embedded-opentype"),
      url("../fonts/akkurat-regular.woff2") format("woff2"),
      url("../fonts/akkurat-regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "akkurat-bold";
  src:url("../fonts/akkurat-bold.eot");
  src:url("../fonts/akkurat-bold.eot?#iefix") format("embedded-opentype"),
      url("../fonts/akkurat-bold.woff2") format("woff2"),
      url("../fonts/akkurat-bold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?epihvh');
  src:  url('../fonts/icomoon.eot?epihvh#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?epihvh') format('truetype'),
    url('../fonts/icomoon.woff?epihvh') format('woff'),
    url('../fonts/icomoon.svg?epihvh#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-close:before {
  content: "\e905";
}
.icon-device-desktop:before {
  content: "\e900";
}
.icon-device-phone:before {
  content: "\e901";
}
.icon-device-tablet:before {
  content: "\e902";
}
.icon-mouse:before {
  content: "\e903";
}
.icon-search:before {
  content: "\e904";
}