.footer {
  background-color: #434a54;
  box-sizing: border-box;
  .inner {
    position: relative;
    max-width: 1170px;
    padding: 100px 20px 100px 20px;
    box-sizing: border-box;
    width: 100%;
    margin: 0 auto;
  }
}

.site-info {
  margin-bottom: 25px;
}

.columns {
  position: relative;
  display: table;
  width: 100%;
  .col {
    float: left;
    box-sizing: border-box;
    .col-heading {
      font-size: 18px;
      color: #707781;
      font-family: $font1-bold;
      margin-bottom: 20px;
    }
    ul {
      padding: 0;
      margin: 0;
      li {
        margin-bottom: 20px;
      }
    }
  }
  a {
    &:hover {
      transition: all 0.2s ease-in-out;
    }
  }
}

.col {
  .post {
    .title {
      font-family: $font1-light;
      color: white;
      font-size: 18px;
      margin: 0 0 5px 0;
      font-weight: normal;
    }
    p {
      font-family: $font1-regular;
      font-size: 14px;
      line-height: 22px;
      display: block;
      color: #8d95a1;
      margin: 0 0 15px 0;
    }
    .read-more {
      position: relative;
      display: inline-block;
      font-family: $font1-regular;
      text-decoration: none;
      color: white;
      font-size: 14px;
      text-transform: uppercase;
      &:hover {
        &:before {
          width: 100%;
          transition: all 0.2s ease;
        }
      }
      &:before {
        content: '';
        display: block;
        width: 0;
        height: 2px;
        background-color: $color1;
        position: absolute;
        bottom: -5px;
        left: 0;
        transition: all 0.2s ease;
      }
    }
  }
  .menu {
    margin: 0;
    padding: 0;
    list-style: none;
    li {
      display: block;
      font-family: $font1-light;
      font-size: 18px;
      a {
        text-decoration: none;
        color: white;
        &:hover {
          color: $color1;
        }
      }
    }
  }
}

.connect {
  font-family: $font1-light;
  color: white;
  .contact-link {
    margin-bottom: 20px;
  }
  a, span {
    display: block;
    font-size: 16px;
    color: white;
    text-decoration: none;
  }
  a {
    &:hover {
      color: $color1;
    }
  }
  .number {
    margin-bottom: 20px;
  }
}

.networks {
  padding: 0;
  margin: 0;
  list-style: none;
  li {
    display: inline-block;
    padding-right: 20px;
    box-sizing: border-box;
    &:last-child {
      padding-right: 0px;
    }
    a {
      position: relative;
      display: block;
      font-size: 18px;
      top: 0;
      &:hover {
        color: $color1;
        top: -3px;
      }
    }
  }
}

@media (min-width: 768px) {
  .columns {
    .col {
      width: 25%;
      padding-right: 50px;
      &:nth-child(1) {
        width: 26%;
      }
      &:nth-child(2) {
        width: 26%;
      }
      &:nth-child(3) {
        width: 32%;
      }
      &:nth-child(4) {
        width: 16%;
        padding-right: 0;
      }
    }
  }
}

@media (max-width: 767px) {
  .footer {
    text-align: center;
    .inner {
      padding: 50px 30px 10px 30px;
    }
  }
  .columns {
    .col {
      margin-bottom: 15px;
      width: 100%;
      ul {
        li {
          margin-bottom: 12px;
        }
      }
    }
  }
  .connect {
    .number {
      margin-bottom: 12px;
    }
  }
}