.header {
  position: relative;
  z-index: 9997;
  .inner {
    position: relative;
    max-width: 1170px;
    padding: 70px 20px 0 20px;
    box-sizing: border-box;
    width: 100%;
    margin: 0 auto;
    .logo {
      max-width: 275px;
      display: inline-block;
      img {
        width: 100%;
      }
    }
  }
}

.navigate {display: none;}

@media (max-width: 1366px) {
  .header .inner {
    padding: 30px 20px 0 20px;
  }
}

@media (min-width: 768px) {
  .blog-archive {
    .header {
      .main-nav {
        > ul {
          > li {
            > a {
              color: white;
            }
          }
        }
      }
      .inner .logo {
        max-width: 160px;
      }
    }
  }
  .header {
    .inner {
      .logo {display: inline-block;}
      .logo.mob {display: none;}
    }
  }
  .main-nav {
    float: right;
    padding-top: 15px;
    .close {display: none;}
    ul {
      margin: 0 -15px 0 0;
      padding: 0;
      li {
        position: relative;
        display: inline-block;
        float: left;
        margin: 0 15px 0 15px;
        box-sizing: border-box;
        font-size: 18px;
        a {
          font-family: $font1-regular;
          font-weight: normal;
          text-decoration: none;
          color: #1a1a1a;
          display: block;
        }
        .sub-menu {
          position: absolute;
          transition: all 0.2s ease;
          left: -20px;
          visibility: hidden;
          opacity: 0;
          top: 100%;
          min-width: 220px;
          margin-top: 20px;
          width: 100%;
          background-color: white;
          border-radius: 3px;
          box-shadow: 1px 1px 7px rgba(76, 83, 89, 0.15);
          list-style: none;
          padding: 10px 0;
          &:after,
          &:before {
            bottom: 100%;
            left: 20%;
            border: solid transparent;
            content: " ";
            height: 0;
            width: 0;
            position: absolute;
            pointer-events: none;
          }

          &:after {
            border-color: rgba(0, 0, 0, 0);
            border-bottom-color: rgba(0, 0, 0, 0.06);
            border-width: 8px;
            margin-left: -8px;
            z-index: 2;
          }
          &:before {
            border-color: rgba(255, 255, 255, 0);
            border-bottom-color: white;
            border-width: 7px;
            margin-left: -7px;
            z-index: 3;
          }
          li {
            font-size: 16px;
            width: 100%;
            display: block;
            padding: 0 0 0 0;
            margin: 0;
            a {
              display: block;
              color: #58646e;
              font-family: $font1-regular;
              text-decoration: none;
              box-sizing: border-box;
              padding: 8px 22px;
              transition: all 0.1s ease-in-out;
              &:hover {
                transition: all 0.1s ease-in-out;
                background-color: #f7f9fb; 
              }
            }
          }
          li.current-menu-item {
            &:before {display: none;}
            a {font-family: $font1-bold;}
          }
        }
      }
      li.current-menu-item,
      li.current-menu-parent {
        &:before {
          position: absolute;
          bottom: -8px;
          margin-left: 0;
          left: 50%;
          transform: translate(-50%, 0);
          width: 100%;
          height: 5px;
          content: '';
          display: inline-block;
          background-image: url('../img/svg/active-menu.svg');
          background-size: 100% 5px;
          background-position: center center;
          background-repeat: no-repeat;
        }
        a {
          font-family: $font1-bold;
        }
      }
      li.menu-item-has-children {
        a.on + ul.sub-menu {
          visibility: visible;
          opacity: 1;
          transition: all 0.2s ease;
        }
      }
    }
  }
}

@media (max-width: 767px) {
  .header {
    .inner {
      padding: 30px 30px 0 30px;
      .logo {display: none;}
      .logo.mob {
        display: inline-block;
        img {width: auto;}
      }
    }
  }
  .navigate {
    position: relative;
    display: inline-block;
    float: right;
    border: 0;
    outline: 0;
    height: 3px;
    margin-top: 20px;
    width: 25px;
    background-color: #2a2a2a;
    &:before,
    &:after {
      position: absolute;
      left: 0;
      width: 100%;
      height: 3px;
      background-color: #2a2a2a;
      content: '';
    }
    &:before {
      top: -7px;
    }
    &:after {
      bottom: -7px;
    }
  }
  .navigate.light {
    background-color: white;
    &:before,
    &:after {
      background-color: white;
    }
  }
  .main-nav {
    -webkit-perspective: 1300px;
    -moz-perspective: 1300px;
    perspective: 1300px;
    visibility: hidden;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
    position: fixed;
    display: table;
    opacity: 0;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 2000;
    background-color: rgba(255,255,255,1);
    overflow-y: scroll;
    .menu {
      -webkit-transform-style: preserve-3d;
      -moz-transform-style: preserve-3d;
      transform-style: preserve-3d;
      -webkit-transform: translateZ(600px) rotateX(20deg); 
      -moz-transform: translateZ(600px) rotateX(20deg); 
      -ms-transform: translateZ(600px) rotateX(20deg); 
      transform: translateZ(600px) rotateX(20deg); 
      opacity: 0;
    }
    .close {
      position: absolute;
      display: inline-block;
      color: #2a2a2a;
      font-size: 30px;
      right: 30px;
      top: 35px;
      z-index: 100;
    }
    .logo.mob {
      position: absolute;
      left: 30px;
      top: 30px;
      z-index: 99;
    }
    ul {
      vertical-align: middle;
      margin: 0;
      padding: 0;
      text-align: center;
      li {
        position: relative;
        font-family: $font1-light;
        a {
          text-decoration: none;
          color: #2a2a2a;
        }
      }
      li.menu-item-has-children {
        > a {
          margin-bottom: 20px;
          display: block;
        }
        a.on + ul.sub-menu {
          display: block;
        }
        ul.sub-menu {
          display: none;
          li {
            font-size: 20px;
            margin-bottom: 10px;
          }
        }
      }
      li.current-menu-item {
        font-family: $font1-regular;
        a {
          
        }
      }
    }
    > ul {
      padding: 100px 0;
      box-sizing: border-box;
      min-height: 100%;
      display: table-cell;
      > li {
        font-size: 30px;
        margin-bottom: 45px;
        &:last-child {margin-bottom: 0px;}
      }
    }
  }
  .main-nav.active {
    visibility: visible;
    opacity: 1;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
    .menu {
      -webkit-transition: all 0.3s ease-in;
      -moz-transition: all 0.3s ease-in;
      transition: all 0.3s ease-in;
      -webkit-transform: translateZ(0px) rotateX(0deg);
      -moz-transform: translateZ(0px) rotateX(0deg);
      -ms-transform: translateZ(0px) rotateX(0deg);
      transform: translateZ(0px) rotateX(0deg); 
      opacity: 1;
    }
  }
}
