$color1: #11b98f; //green
$color2: #2a2a2a; //dark grey
$color3: #434a54; //grey
$color4: #707781; //light grey

$font1-light: "akkurat-light", Arial, Helvetica, sans-serif;
$font1-regular: "akkurat-regular", Arial, Helvetica, sans-serif;
$font1-bold: "akkurat-bold", Arial, Helvetica, sans-serif;