@keyframes modalReveal {
  0% {
    visibility: hidden;
    opacity: 0;
//    transform: translate(-100%, -100%) scale(0, 0);
//    -moz-transform: translate(0, 0) scale(0, 0);
//    -webkit-transform: translate(0, 0) scale(0, 0);
  }
  50% {
    visibility: visible;
    opacity: 1;
//    transform: translate(0, 0) scale(1.1, 1.1);
//    -moz-transform: translate(0, 0) scale(1.1, 1.1);
//    -webkit-transform: translate(0, 0) scale(1.1, 1.1);
  }
  100% {
    visibility: visible;
    opacity: 1;
//    transform: translate(0, 0) scale(1, 1);
//    -moz-transform: translate(0, 0) scale(1, 1);
//    -webkit-transform: translate(0, 0) scale(1, 1);
  }
}

.modal {
  #loading {
    position: absolute;
    left: 50%;
    float: none;
    width: 35px;
    height: 35px;
    display: block;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}

.modal {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: #838a96;
  z-index: 9998;
  opacity: 0;
//transform: translate(-100%, -100%) scale(0, 0);
  visibility: hidden;
  transition: all 0.4s ease-in-out;
  .theme-info {
    position: relative;
    z-index: 3;
    float: right;
    min-height: 100%;
    width: 380px;
    padding: 90px 60px;
    box-sizing: border-box;
    background-color: #687280;
    box-shadow: 0 0 20px rgba(81, 92, 104, 0.6);
    .close-modal {
      position: absolute;
      top: 40px;
      right: 40px;
      color: white;
      font-family: 'icomoon' !important;
      speak: none;
      font-style: normal;
      font-weight: normal;
      font-variant: normal;
      text-transform: none;
      line-height: 1;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      border: 0;
      outline: 0;
      background: none;
      &:before {
        content: "\e905";
      }
    }
    .theme-contents{
      overflow: hidden;
      .theme-content {
        .theme-title {
          color: white;
          font-size: 35px;
          margin: 0 0 0.67em 0;
          font-family: $font1-regular;
        }
        .about-theme {
          color: #a8b0b9;
          font-family: $font1-light;
          font-size: 18px;
          line-height: 26px;
        }
        .theme-links {
          display: block;
          width: 100%;
          margin-bottom: 50px;
        }
        .btn.medium {
          padding: 17px 30px 17px 30px;
        }
        .demo {
          display: inline-block;
          color: white;
          font-family: $font1-regular;
          margin-left: 30px;
          font-size: 16px;
          text-decoration: none;
          &:before {
            width: 100%;
            transition: all 0.2s ease;
          }
        }
        .meta-links {
          a {
            font-size: 14px;
            margin-bottom: 20px;
          }
        }
      }
    }
  }
}
.modal.show {
  animation-name: modalReveal ;
  animation-duration: 0.7s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  animation-delay: 0s;
}
.carousel-column {
  position: absolute !important;
  right: 380px;
  width: 200px;
  max-height: 100%;
  min-height: 100%;
  z-index: 2;
  background-color: #646d7a;
  box-shadow: 0 0 20px rgba(81, 92, 104, 0.6);
  padding: 150px 0;
  box-sizing: border-box;
  .slick-list {padding: 0 0 !important;}
  .slick-track {padding: 0 15px;}
  .nav-item {
    position: relative;
    margin-bottom: 10px;
    width: 100% !important;
    border-radius: 3px;
    box-shadow: 1px 1px 7px rgba(81, 92, 104, 0.1);
    border: 10px solid transparent;
    padding: 10px;
    box-sizing: border-box;
    cursor: pointer;
    &:focus {
      outline: 0;
    }
    picture {
      display: block;
      img {
        border-radius: 3px;
      }
    }
    img {
      width: 100%;
      display: block;
      height: auto;
    }
  }
  .nav-item.slick-current {
    box-shadow: 0px 0px 0px rgba(81, 92, 104, 0.1);
    border: 10px solid #575f6a;
    padding: 0px;
    &:after, &:before {
      right: 100%;
      top: 50%;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
    }

    &:after {
      border-color: rgba(136, 183, 213, 0);
      border-right-color: #575f6a;
      border-width: 10px;
      margin-top: -10px;
    }
    &:before {
      border-color: rgba(194, 225, 245, 0);
      border-right-color: #575f6a;
      border-width: 16px;
      margin-top: -16px;
    }
    picture {
      img {
        border-radius: 0px;
      }
    }
  }
}

.scroll-tip {
  display: block;
  position: absolute;
  top: 70px;
  right: 50px;
  background-color: #ffde90;
  padding: 15px 20px;
  box-sizing: border-box;
  box-shadow: 0 0 15px rgba(81, 92, 104, 0.2);
  border-radius: 3px;
  i {
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translate(0, -50%);
    display: inline-block;
    color: #c0a157;
    margin-right: 15px;
    font-size: 20px;
  }
  p {
    display: inline-block;
    font-size: 13px;
    padding-left: 30px;
    margin: 0;
    color: #947a3b;
  }
}

.preview-window {
  position: absolute;
  left: 0;
  top: 0;
  width: calc(100% - 580px);
  display: block;
  padding: 150px 50px;
  box-sizing: border-box;
  min-height: 100%;
  .preview-inner {
    display: inline-block !important;
    width: 100%;
    min-height: 100%;
    box-shadow: 0 0 20px rgba(81, 92, 104, 0.1);
    .owl-wrapper-outer {
      display: inline-block;
      width: 100%;
      overflow: hidden;
    }
    .owl-controls {display: none !important;}
  }
  .preview {
    background-color: white;
    min-height: 100%;
    width: 100%;
    img {
      width: 100%;
      height: auto;
      display: block;
    }
  }
}

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
      touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
}
.slick-list:focus {
  outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;

    display: block;
}
.slick-track:before,
.slick-track:after
{
    display: table;

    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;

    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;

    height: auto;

    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}

@media (max-width: 1024px) {
  .carousel-column {display: none;}
  .preview-window {
    width: calc(100% - 380px);
  }
}

@media (max-width: 800px) {
  .carousel-column {display: none;}
  .preview-window {
    width: 100%;
    position: relative;
    clear: both;
    padding: 40px 30px;
    min-height: auto;
  }
  .scroll-tip {display: none;}
  .modal {
    overflow-y: scroll;
    .theme-info {
      position: relative;
      padding: 40px 30px;
      height: auto;
      width: 100%;
      min-height: auto;
      .close-modal {
        z-index: 555;
      }
      .theme-contents {
        .theme-content {
          .theme-links {
            margin-bottom: 30px;
          }
          .meta-links a {
            margin-bottom: 0;
            margin-right: 20px;
          }
        }
      }
    }
  }
}

@media (max-width: 480px) {
  .modal {
    .theme-info {
      .theme-contents {
        .theme-content {
          .meta-links a {
            margin-bottom: 15px;
            margin-right: 20px;
          }
        }
      }
    }
  }
  .preview-window {
    padding: 5px 5px 1px 5px;
  }
}