.article_snippet {
  color: #2a3239;
  font-size: 35px;
  line-height: 45px;
  font-family: $font1-regular;
  margin: 0 0 40px 0;
}

.article_quote {
  background-color: #f3f8fa;
  font-style: italic;
  color: #747d85;
  font-family: $font1-regular;
  padding: 50px;
  box-sizing: border-box;
  border-radius: 10px;
  font-size: 22px;
  line-height: 42px;
  margin: 0px;
  text-align: center;
  margin-bottom: 40px;
}