
div.small-slider:hover + div.main-slider {
  .owl-item.active {
    .slide-item {
      .inner {
        &:before {
          opacity: 1;
          visibility: visible;
          transition: all 0.4s ease;
          transition-delay: 0s;
        }
        .view-theme {
          opacity: 1;
          visibility: visible;
          transition: all 0.4s ease;
          transition-delay: 0s;
        }
      }
    }
  }
}

.theme-slider {
  position: relative;
  max-width: 100%;
  padding-top: 20px;
  overflow: hidden;
  width: 100%;
  .slider-wrap {
    position: relative;
    display: inline-block;
    max-width: 53%;
    padding-bottom: 80px;
    width: 100%;
    margin: 0 auto;
  }
  .main-slider {
    position: relative;
    z-index: 1;
    .slider-inner {
      position: relative;
      padding: 0 30px;
      box-sizing: border-box;
      display: inline-block !important;
    }
    .owl-item.active {
//      .slide-item {
//        .inner {
//          &:before {
//            opacity: 1;
//            visibility: visible;
//            transition: all 0.4s ease;
//            transition-delay: 0.6s;
//          }
//          .view-theme {
//            animation-name: bounceInDown;
//            animation-duration: 0.4s;
//            animation-iteration-count: 1;
//            animation-direction: normal;
//            animation-timing-function: ease;
//            animation-fill-mode: forwards;
//            animation-delay: 0.6s;
//          }
//        }
//      }
    }
    .owl-item {
      .slide-item {
        &:hover {
          .inner {
            &:before {
              opacity: 1;
              visibility: visible;
              transition: all 0.4s ease;
              transition-delay: 0s;
            }
            .view-theme {
              opacity: 1;
              visibility: visible;
              transition: all 0.4s ease;
              transition-delay: 0s;
//              animation-name: bounceInDown;
//              animation-duration: 0.4s;
//              animation-iteration-count: 1;
//              animation-direction: normal;
//              animation-timing-function: ease;
//              animation-fill-mode: forwards;
//              animation-delay: 0s;
            }
          }
        }
        .inner {
          &:before {
            opacity: 0;
            visibility: hidden;
            transition: all 0.4s ease;
            transition-delay: 0s;
            position: absolute;
            border-radius: 3px;
            content: '';
            top: 0;
            display: block;
            width: 100%;
            height: 100%;
            background-color: rgba(69, 76, 85, 0.9);
            z-index:5;
          }
          .view-theme {
            position: absolute;
            top: 50%;
            left: 50%;
            -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
            z-index: 6;
            opacity: 0;
            visibility: hidden;
            transition: all 0.4s ease;
            .viewer {
              position: relative;
              background-color: #11b98f;
              padding: 15px 55px 15px 22px;
              vertical-align: middle;
              box-sizing: border-box;
              text-decoration: none;
              border-radius: 3px;
              box-shadow: 1px 1px 5px rgba(76, 83, 89, 0.2);
              color: white;
              font-family: $font1-regular;
              border: 0;
              display: block;
              outline: 0;
              .caret {
                position: absolute;
                top: 0;
                right: 0;
                height: 100%;
                display: inline-block;
                border-left: 1px solid #0ca881;
                width: 36px;
                box-sizing: border-box;
                &:after, &:before {
                  top: 50%;
                  left: 50%;
                  border: solid transparent;
                  content: " ";
                  height: 0;
                  width: 0;
                  position: absolute;
                  pointer-events: none;
                }
                &:after {
                  border-color: rgba(0, 0, 0, 0);
                   border-width: 0px;
                  margin-left: -0px;
                }
                &:before {
                  border-color: rgba(255, 255, 255, 0);
                  border-top-color: #fff;
                  border-width: 5px;
                  margin-left: -5px;
                  margin-top: -3px;
                }
              }
            }
            .viewer.on {
              .caret.has-download {
                -moz-box-shadow:    inset 2px 2px 7px rgba(76, 83, 89, 0.2);
                -webkit-box-shadow: inset 2px 2px 7px rgba(76, 83, 89, 0.2);
                box-shadow:         inset 2px 2px 7px rgba(76, 83, 89, 0.2);
              }
            }
          }
        }
      }
    }
    .slide-item {
      margin: 0 30px;
      box-sizing: border-box;
      .inner {
        position: relative;
        z-index: 2;
        min-height: 100%;
        padding: 15px 0 0 0;
        background-color: white;
        width: 100%;
        border-radius: 3px;
        -webkit-border-radius: 3px;
        box-shadow: 0 0 7px rgba(76, 83, 89, 0.2);
        perspective: 3px;
        img {
          border-radius: 3px;
          -webkit-border-radius: 3px;
        }
      }
    }
  }
}
.viewer.on + .operator {
  opacity: 1;
  visibility: visible;
  transition: all 0.2s ease-in-out;
}

.operator {
  position: absolute;
  display: block;
  text-align: center;
  padding: 10px 0;
  border-radius: 3px;
  background-color: white;
  top: 100%;
  width: 100%;
  margin-top: 6px;
  opacity: 0;
  visibility: hidden;
  transition: all 0.2s ease-in-out;
  &:before,
  &:after {
    bottom: 100%;
    right: 14px;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
  }
  &:before {
    border-color: rgba(255, 255, 255, 0);
    border-bottom-color: white;
    border-width: 4px;
    margin-left: -4px;
    z-index: 3;
  }
  a {
    text-decoration: none;
    color: #2a2a2a;
    font-size: 14px;
    font-family: $font1-regular;
  }
}

.link-through {
  margin-top: 50px;
  a {
    position: relative;
    color: #63707b;
    text-decoration: none;
    font-family: $font1-regular;
    font-size: 16px;
    margin: 0 40px;
    &:before {
      content: '';
      display: block;
      width: 0;
      height: 3px;
      background-color: #11b98f;
      position: absolute;
      bottom: -10px;
      left: 0;
      transition: all 0.2s ease;
    }
    &:hover {
      &:before {
        width: 100%;
        transition: all 0.2s ease;
      }
    }
  }
}
.slide-item {
  .item-type {
    position: absolute;
    top: 0;
    right: 0;
    width: 100px;
    height: 100px;
    overflow: hidden;
    .type {
      width: 200px;
      background: #50565f;
      font-family: $font1-bold;
      position: absolute;
      font-size: 13px;
      text-align: center;
      line-height: 30px;
      letter-spacing: 0px;
      color: white;
      top: 25px;
      right: -60px;
      left: auto;
      transform: rotate(45deg);
      -webkit-transform: rotate(45deg);
    }
  }
}

.theme-slider {
  .small-slider {
    position: absolute;
    z-index: 2;
    width: 26%;
    bottom: 30px;
    right: 8%;
    &:before {
      position: absolute;
      top: 50%;
      left: 50%;
      display: block;
      content: '';
      transform: translate(-50%, -50%);
      width: 70%;
      height: 85%;
      background-color: #f0f0f0;
    }
    .slider-inner {
      position: absolute;
      top: 10.5%;
      left: 17%;
      width: 66.8%;
      z-index: 1;
      overflow: hidden;
      .slide-item {
        .inner {
          background-color: #f0f0f0;
        }
      }
    }
  }
}
.small-slider{
  .owl-controls {display: none !important;}
}
.owl-controls {
  position: absolute;
  bottom: -75px;
  left: 50%;
  transform: translate(-50%, 0);
  .owl-pagination {
    position: relative;
    text-align: center;
    &:before {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      content: '';
      z-index: 5;
    }
    .owl-page {
      position: relative;
      width: 14px;
      height: 14px;
      margin: 0 6px;
      display: inline-block;
      span {
        position: relative;
        border: 3px solid transparent;
        display: block;
        width: 8px;
        height: 8px;
        border-radius: 8px;
        &:before {
          position: absolute;
          top: -2px;
          left: -2px;
          display: inline-block;
          width:12px;
          height: 12px;
          content: '';
          border-radius: 12px;
          background-color: #dfe4e8;
        }
      }
    }
    .owl-page.active {
      span {
        &:before {
          background-color: transparent;
        }
        border: 3px solid $color1;
      }
    }
  } 
}

.slide-nav {
  position: absolute;
  top: 50%;
  margin-top: -60px;
  height: 0;
  width: 100%;
  z-index: 3;
  opacity: 1;
  visibility: visible;
  transition: all 0.2s ease-in-out;
  .prev-slide,
  .next-slide {
    position: absolute;
    font-size: 45px;
    line-height: 45px;
    i {
      color: #2a2a2a;
    }
  }
  .prev-slide {
    left: 25px;
  }
  .next-slide {
    right: 25px;
  }
}
.slide-nav.moving {
  opacity: 0;
  visibility: hidden;
  transition: all 0.1s ease-in-out;
}
.slide-nav.stopped {
  opacity: 1;
  visibility: visible;
  transition: all 0.1s ease;
}

.owl-carousel {
  display: none;
  width: 100%;
  -webkit-tap-highlight-color: transparent;
  position: relative;
  z-index: 1;
  .owl-item {
    position: relative;
    min-height: 1px;
    float: left;
    -webkit-backface-visibility: hidden;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  .owl-controls {
    .owl-buttons {
      display: none;
    }
  }
}

@media (max-width: 1366px) {
  .theme-slider .slider-wrap {
    max-width: 60%;
  }
  #step-3 {
    .wrap.out {
      padding: 150px 0;
    }
  }
}

@media (max-width: 767px) {
  .theme-slider {
    .slider-wrap {
      max-width: 100%;
      .main-slider {
        .slider-inner {
          overflow: hidden;
          .owl-item.active {
            .slide-item {
              .inner {
                box-shadow: 0 0 7px rgba(76, 83, 89, 0.2);
              }
            }
          }
          .owl-item {
            .slide-item {
              .inner {
                box-shadow: 0 0 0 rgba(76, 83, 89, 0.2);
              }
            }
          }
        }
      }
    }
  }
}

@media (min-width: 768px) and  (max-width: 1024px) {
  .theme-slider {
    .slider-wrap {
      max-width: 100%;
    }
  }
}

@media (max-width: 480px) {
  #step-3 .wrap.out {
    padding: 70px 30px;
  }
  .theme-slider {
    overflow: visible;
    .slider-wrap {padding-bottom: 0;}
    .main-slider {
      .slide-item {
        padding: 0 10px;
        .inner .view-theme {
          width: 60%;
        }
        .item-type {
          z-index: 5;
        }
      }
      .slider-inner {
         padding: 0 0;
      }
    }
    .small-slider {
      display: none;
      width: 40%;
      right: 0;
    }
  }
  .link-through a {
    display: block;
    width: 100%;
    margin: 0 0 10px 0;
  }
  .slide-nav {
    margin-top: -25px;
    .prev-slide {
      left: -20px;
    }
  }
  .slide-nav .next-slide {
    right: -20px;
  }
}