#subscribe-block {
  .fca_eoi_layout_postbox_wrapper {
    #fca_eoi_form_319,
    #fca_eoi_form_347 {
      .fca_eoi_layout_0.fca_eoi_layout_postbox div.fca_eoi_layout_headline_copy_wrapper div {
        font-family: "akkurat-regular", Arial, Helvetica, sans-serif;
        color: white !important;
        font-size: 36px !important;
        font-weight: normal;
        line-height: 42px;
        margin: 0 0 10px 0;
        display: block;
      }
      .fca_eoi_layout_postbox {
        border-color: transparent !important;
        background-color: transparent !important;
      }
      .fca_eoi_layout_submit_button_wrapper {
        position: relative;
        background-color: transparent !important;
        border: solid 0px transparent !important;
        box-sizing: border-box;
        overflow: hidden;
        width: 34%;
        min-width: 170px;
        float: right;
        clear: none;
        input[type="submit"] {
          background-color: #11b98f;
          padding: 22px 45px 22px 45px;
          vertical-align: middle;
          box-sizing: border-box;
          text-shadow: 0 0 0;
          height: 50px;
          line-height: 50px;
          font-weight: normal;
          background-color: #11b98f !important;
          font-size: 16px !important;
          border-radius: 3px;
          box-shadow: 1px 1px 3px 0 rgba(76, 83, 89, 0.2), 0 2px 10px 0 rgba(76, 83, 89, 0.2);
          color: white;
          font-family: "akkurat-regular", Arial, Helvetica, sans-serif;
          border: 0;
          outline: 0;
          transition: all 0.2s ease-in-out;
          padding: 0 25px 0 25px;
          &:hover {
            background-color: #11b98f !important;
          }
        }
      }
      .fca_eoi_layout_0.fca_eoi_layout_postbox {
        div.fca_eoi_layout_email_field_wrapper {
          color: transparent !important;
          border-color: transparent !important;
          border: solid 0px transparent !important;
          box-sizing: border-box;
          background-color: transparent !important;
          width: 66% !important;
          float: left;
          overflow: hidden;
          clear: none;
          > div {padding: 0 25px 0 0; box-sizing: border-box;}
          input {
            vertical-align: middle;
            min-height: 50px;
            padding: 0 0 20px 0;
            color: white !important;
            margin-bottom: 0;
            border: 0;
            outline: 0;
            box-sizing: border-box;
            box-shadow: inset 0 0 0 transparent;
            border-radius: 0;
            font-family: "akkurat-regular", Arial, Helvetica, sans-serif;
            font-size: 18px !important;
            color: #2d2d2d;
            border-bottom: 2px solid #e8eaec !important;
            background-color: transparent;
          }
        }
      }
    }
  }
  form.fca_eoi_layout_0.fca_eoi_layout_postbox {
    max-width: 540px;
  }
  div.fca_eoi_form_text_element,
  .fca_eoi_spiner_div {display: none !important;}
}

