.subscribe-success {
  text-align: center;
  .page-content{
    color: #4c5058;
    font-size: 20px;
    line-height: 36px;
    font-family: $font1-regular;
    margin: 0 0 15px 0;
  }
  .page-title {
    color: #2a2a2a;
    font-family: $font1-bold;
    font-size: 45px;
    line-height: 55px;
    margin: 0 0 15px 0;
  }
  .fa-check-circle {
    font-size: 60px;
    color: #3ca38c;
    margin-bottom: 15px;
  }
  .follow {
    iframe,
    .fb_iframe_widget {
      vertical-align: middle;
    }
  }
}

.subscribe-success.thank-you {
  text-align: left;
  .greenish {
    font-family: $font1-bold;
    color: #16846b;
  }
  .follow {
    margin: 5px 0 20px 0;
  }
  .page-content.soon {
    margin: 0 0 0 0;
  }
}
