.main{
  .page-404 {
    .container {
      padding: 120px 20px 50px 8%;
      section {
        margin-bottom: 60px;
        display: inline-block;
        width: 100%;
      }
    }
    h1 {
      font-family: $font1-regular;
      margin: 0 0 30px 0;
      font-size: 60px;
      line-height: 70px;
    }
    p {
      max-width: 60%;
      position: relative;
      float: left;
      font-family: $font1-regular;
      color: #63707b;
      font-size: 18px;
      line-height: 26px;
      padding-right: 11%;
      margin: 0;
    }
    a {
      display: inline-block;
      float: left;
    }
    picture {
      display: block;
      max-width: 60%;
      clear: both;
    }
  }
}

@media (max-width: 767px) {
  .main{
    .page-404 {
      .container {
        padding: 70px 30px 50px 30px;
        section {
          margin-bottom: 60px;
          display: inline-block;
          width: 100%;
        }
      }
      h1 {
        font-size: 40px;
        line-height: 50px;
      }
      p {
        br {display: none;}
        margin-bottom: 30px;
      }
    }
  }
}

@media (max-width: 480px) {
  .main{
    .page-404 {
      picture {
        max-width: 100%;
      }
      .container {
        section {
          margin-bottom: 50px;
          display: inline-block;
          width: 100%;
        }
      }
      h1 {
        font-size: 30px;
        line-height: 40px;
        margin: 0 0 20px 0;
      }
      p {
        width: 100%;
        max-width: 100%;
      }
    }
  }
}