.about {
  .page-title {
    display: block;
    text-align: center;
    color: #2a2a2a;
    font-size: 45px;
    line-height: 55px;
    font-family: $font1-bold;
  }
}

.about {
  h2 {
    color: #2a3239;
    display: block;
    font-size: 40px;
    line-height: 50px;
    font-family: $font1-bold;
  }
  p {
    color: #4c5058;
    font-size: 22px;
    line-height: 36px;
    font-family: $font1-regular;
    margin: 0 0 40px 0;
  }
  a {
    color: #0d9976;
    font-family: $font1-bold;
  }
  ul {
    list-style: none;
    li {
      padding-left: 0px;
      &:before {
        content: '';
        display: inline-block;
        width: 6px;
        height: 6px;
        background-color: #4c5058;
        border-radius: 6px;
        position: absolute;
        left: 0;
        top: 12px;
      }
    }
  }
  ul {
    li {
      padding-left: 22px;
    }
  }
  ul,
  ol {
    margin: 0;
    padding: 0;
    list-style-position: inside;
    margin-bottom: 40px;
    li {
      position: relative;
      box-sizing: border-box;
      color: #4c5058;
      font-size: 22px;
      line-height: 33px;
      font-family: $font1-regular;
      margin-bottom: 5px;
    }
  }
}

@media (max-width: 667px) {
  .about {
    .page-title {
      font-size: 35px;
      line-height: 45px;
    }
    p {
      font-size: 18px;
      line-height: 32px;
    }
  }
}