.blog-archive,
.single {
  .content {
    position: relative;
    margin-top: -116px;
  }
  .page {
    padding: 0 0 0 0;
  }
}
.blog-archive {
  .main .page .container .posts.flex {
    min-height: 500px;
  }
}

.featured-article,
.article-banner {
  position: relative;
  width: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  .post {
    position: relative;
    padding: 50px 0 0 0;
    box-sizing: border-box;
    z-index: 10;
  }
  &:before {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 9;
    width: 100%;
    height: 100%;
    content: '';
    display: block;
    background-color: rgba(35,38,45,0.9);
  }
}

.commentlist {
  .comment {
    .author-pp {
      
    }
  }
  .comment.author {
    .author-pp {
      
    }
  }
}

.post-meta {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap; /* Safari */
  flex-wrap: wrap;
  justify-content: center;
  .post-stamp,
  .photo,
  .post-cat,
  .author {
    display: inline-block;
    justify-content: center;
    display: flex;
    flex-direction: column;
  }
  .post-stamp {
    padding-right: 6px;
  }
  .photo {
    box-sizing: border-box;
  }
  .author {
    padding-left: 6px;
    padding-right: 5px;
  }
  span {
    display: inline-block;
    box-sizing: border-box;
    color: white;
  }
  .pre-stamp {
    color: #5e6570;
  }
  .faded-text{
    color: #5e6570;
  }
  .photo {
    position: relative;
    width: 40px;
    height: 40px;
    overflow: hidden;
    display: inline-block;
    overflow: hidden;
    img {
      position: absolute;
      width: 100%;
      border-radius: 40px;
      height: auto;
      display: block;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }
  .category {
    color: #009298;
    text-decoration: none;
  }
}

.featured-tag {
  width: 100%;
  text-align: center;
  .featured {
    font-family: $font1-bold;
    text-transform: uppercase;
    font-size: 14px;
    color: #11b98f;
    display: inline-block;
    margin-bottom: 15px;
  }
}

.featured-article,
.article-banner {
  padding: 116px 0 100px 0;
  text-align: center;
  .post-title {
    padding: 0 19% 20px 19%;
    box-sizing: border-box;
    display: block;
    margin: 0;
    font-family: $font1-bold;
    font-size: 45px;
    line-height: 55px;
    color: white;
  }
}

.featured-article {
  .post-title {
    transition: all 0.2s ease;
    a {
      text-decoration: none;
      color: white;
    }
  }
}

@media (min-width: 668px) {
  .featured-article {
    .post-title {
      &:before,
      &:after {
        position: absolute;
        left: 50%;
        width: 5%;
        min-width: 60px;
        height: 5px;
        content: '';
        display: block;
        background-color: white;
        opacity: 0;
        visibility: hidden;
        transform: translate(-50%, 0);
        transition: all 0.3s ease;
      }
      &:before {
        top: 20px;
      }
      &:after {
        bottom: 20px;
      }
      &:hover {
        &:before,
        &:after {
          opacity: 1;
          visibility: visible;
        }
        &:before {
          top: 0px;
        }
        &:after {
          bottom: 0px;
        }
      }
    }
  }
}

//@media (min-width: 668px) {
//  .posts {
//    .posts {
//      .inner {
//         &:hover {
//          background-color: #11b98f;
//          .entry-title{
//            margin: 40px 0 40px 0; 
//            transition: margin 0.3s ease;
//            a {
//              text-decoration: underline;
//              font-size: 38px;
//              line-height: 48px;
//              color: white;
//            }
//          }
//          .image-holder {
//            position: relative;
//            opacity: 0;
//            z-index: 9;
//          }
//          .post-body {
//            position: relative;
//            margin-top: -65%;
//            padding: 50px 40px;
//            z-index: 10;
//            .post-date .date {
//              color: #078c6b;
//            }
//            .category {
//              color: white;
//            }
//            .post-meta .author span {
//              color: #078c6b;
//            }
//          }
//        }
//      }
//    }
//  }
//}

.posts {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap; /* Safari */
  flex-wrap: wrap;
  &:after {
    content: "";
    display: block; 
    height: 0; 
    clear: both;
  }
  .post {
    width: 33.33%;
    
    padding: 0 25px;
    margin-bottom: 50px;
    box-sizing: border-box;
    .inner {
      > a {
        text-decoration: none;
        display: block;
      }
    }
    &:hover{
      .inner {
        box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.1);
        .post-body .entry-title {
          a {
            text-decoration: underline;
          }
        }
      }
    }
    .inner {
      min-height: 100%;
      border-radius: 10px;
      box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.1);
      border-radius: 10px;
      overflow: hidden;
      transition: all 0.3s ease;
    }
    .image-holder {
      position: relative;
      width: 100%;
      height: 0;
      padding: 65% 0 0 0;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      overflow: hidden;
      transition: padding 0.3s ease;
      img {
        position: absolute;
        left: 50%;
        top: 50%;
        display: block;
        transform: translate(-50%, -50%);
        width: 100%;
        height: auto;
        opacity: 0;
      }
    }
  }
}

.posts {
  margin: 0 -20px 50px -20px;
  -webkit-backface-visibility: hidden;
  .post {
    display: inline-block;
    .post-body {
      padding: 30px 40px;
      box-sizing: border-box;
      .post-meta {
        justify-content:flex-start;
        .author {
          span {
            color: #0a9c77;
            font-family: $font1-bold;
            font-size: 14px;
            line-height: 14px;
            padding-left: 5px;
          }
        }
        .photo,
        .post-info {
          justify-content: center;
          display: flex;
          flex-direction: column;
        }
      }
      .entry-title{
        font-family: $font1-bold;
        margin: 10px 0 10px 0;
        transition: margin 0.3s ease;
        a {
          color: #2a3239;
          text-decoration: none;
          font-size: 22px;
          line-height: 26px;
        }
      }
      .post-date{
        .date {
          color: #818a92;
          font-family: $font1-regular;
          font-size: 14px;
        }
      }
      .category {
        text-decoration: none;
        text-transform: uppercase;
        color: #474d52;
        font-size: 14px;
        font-family: $font1-bold;
        margin-bottom: 12px;
        transition: color 0.2s ease;
        &:hover {
          color: #0a9c77;
        }
      }
    }
  }
}

@media (min-width: 961px) and (max-width: 1080px) {
  .posts {
    .post {
      .inner:hover {
        .entry-title {
          a {
            font-size: 30px;
            line-height: 42px;
          }
        }
      }
    }
  }
}

@media (min-width: 668px) and (max-width: 960px) {
  .posts {
    .post {
      .inner:hover {
        .post-body {
          margin-top: -45%;
        }
      }
      width: 50%;
      .image-holder {
        padding: 50% 0 0;
      }
    }
  }
}

@media (min-width: 668px) and (max-width: 800px) {
  .posts {
    .post {
      .inner:hover {
        .entry-title {
          a {
            font-size: 30px;
            line-height: 42px;
          }
        }
      }
    }
  }
}

@media (max-width: 667px) {
  .featured-article {
    .post-title, 
    .article-banner {
      .post-title {
        font-size: 35px;
        line-height: 45px;
      }
    }
  }
  .posts {
    .post {
      width: 100%;
      .image-holder {
        padding: 60% 0 0;
      }
    }
  }
}

.archive .main,
.single .main {
  .page:not(.themes-page) {
    margin-bottom: -116px;
    > div.container {
      padding: 50px 20px 0 20px;
    }
    .post-filters {
      .container {
        padding: 0 20px;
      }
    }
  }
}

.post-filters {
  text-align: center;
  .inner {
    position: relative;
    box-sizing: border-box;
  }
}

@media (min-width: 668px) {
  .post-filters {
    border-bottom: 2px solid #f1f3f7;
    .filter-it {
      display:none;
    }
  }
  .post-filter {
    position: relative;
    background: none;
    padding: 40px 0;
    margin: 0 25px;
    box-sizing: border-box;
    border: 0;
    outline: 0;
    text-transform: uppercase;
    display: inline-block;
    color: #5b636e;
    font-size: 14px;
    line-height: 12px;
    font-family: $font1-regular;
    &:hover {
      font-family: $font1-bold;
    }
  }

  .post-filter.active {
    font-family: $font1-bold;
    &:after {
      position: absolute;
      width: 100%;
      content: '';
      display: block;
      bottom: 0;
      height: 4px;
      border-radius: 4px;
      background-color: #11b98f;
    }
  }
}

@media (max-width: 667px) {
  .post-filters {
    .filter-it {
      display: inline-block;
    }
    position: relative;
    width: auto;
    display: inline-block;
    padding: 40px 30px 0 30px;
    left: 50%;
    transform: translate(-50%);
    box-sizing: border-box;
    z-index: 200;
    .filter-it {
      position: relative;
      background-color: $color1;
      padding: 15px 85px 15px 22px;
      vertical-align: middle;
      box-sizing: border-box;
      display: inline-block;
      border-radius: 3px;
      box-shadow: 1px 1px 3px 0 rgba(76, 83, 89, 0.2), 0 2px 10px 0 rgba(76, 83, 89, 0.2);
      transition: all 0.2s ease-in-out;
      color: white;
      font-family: $font1-bold;
      border: 0;
      outline: 0;
      &:hover {
        box-shadow: 0 5px 11px 0 rgba(76,83,89,0.2),0 4px 15px 0 rgba(76,83,89,0.2);
        background-color: #00be92;
      }
      .caret {
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        pointer-events:none;
        display: inline-block;
        border-left: 1px solid #0ca881;
        width: 44px;
        box-sizing: border-box;
        &:after, &:before {
          top: 50%;
          left: 50%;
          border: solid transparent;
          content: " ";
          height: 0;
          width: 0;
          position: absolute;
          pointer-events: none;
        }
        &:after {
          border-color: rgba(0, 0, 0, 0);
          border-top-color: transparent;
          border-width: 0px;
          margin-left: -0px;
        }
        &:before {
          border-color: rgba(255, 255, 255, 0);
          border-top-color: #fff;
          border-width: 6px;
          margin-left: -6px;
          margin-top: -3px;
        }
      }
    }
    #toggle.on {
      .caret {
        &:before {
          border-top-color: transparent;
          border-bottom-color: #fff;
          margin-top: -9px;
        }
      }
    }
    #toggle.on + .filters {
      opacity: 1;
      visibility: visible;
      transition: all 0.2s ease-in-out;
    }
    .filters {
      opacity: 0;
      visibility: hidden;
      transition: all 0.2s ease-in-out;
      position: absolute;
      width: calc(100% - 60px);
      box-sizing: border-box;
      padding: 10px 0;
      top: 100%;
      margin-top: 10px;
      background-color: white;
      border-radius: 3px;
      box-shadow: 1px 1px 7px rgba(76, 83, 89, 0.15);
      list-style: none;
      button {
        display: block;
        width: 100%;
        outline: 0;
        border: 0;
        text-align: left;
        color: #58646e;
        font-family: $font1-regular;
        text-decoration: none;
        background-color: transparent;
        box-sizing: border-box;
        padding: 8px 22px;
        transition: all 0.1s ease-in-out;
        &:hover {
          transition: all 0.1s ease-in-out;
          background-color: #f7f9fb;
        }
      }
      button.current {
        background-color: #f7f9fb;
      }
    }
  }
}

.posts .mix {
  display: none;
}
.pin-wrapper {
  position: absolute;
  text-align: center;
  display: block;
  top: 100px;
}

.share-container {
  .share-title {
    display: block;
    text-transform: uppercase;
    font-family: $font1-bold;
    font-size: 14px;
    color: #2a3239;
    margin-bottom: 20px;
  }
  .share-article {
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      li {
        display: block;;
        margin-bottom: 25px;
        a {
          display: inline-block;
          i {
            font-size: 18px;
            line-height: 18px;
          } 
        }
        a.facebook {
          i {color: #456bb8;}
        }
        a.twitter {
          i {color: #3fa9f5;}
        }
        a.mail {
          i {color: #d3dbe3;}
        }
      }
    }
  }
}

.main {
  .page {
    .post-content {
      .container {
        max-width: 970px;
      }
    }
  }
}

.post-content {
  .container {
    .inner {
      padding: 50px 110px 75px 110px;
      box-sizing: border-box;
    }
  }
}

.thumbnail.wp-caption {
  width: 100%;
  text-align: center;
  img {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 20px;
    margin-bottom: 20px;
  }
}

.author-inner {
  position: relative;
}

.author-info {
  .author-name {
    color: #2a3239;
    font-size: 30px;
    line-height: 30px;
    font-family: $font1-bold;
    margin-bottom: 15px;
  }
  .author-bio {
    color: #61646c;
    font-size: 16px;
    line-height: 28px;
    font-family: $font1-regular;
  }
}

.author-wrap {
  background-color: #f3f8fa;
  padding: 60px;
  border-radius: 20px;
  box-sizing: border-box;
  margin-bottom: 50px;
  .author-photo {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 80px;
    height: 80px;
    display: block;
    overflow: hidden;
    background-color: white;
    img {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
      height: auto;
    }
  }
  .author-info {
    position: relative;
    padding: 0 0 0 100px;
    box-sizing: border-box;
    width: 100%;
  }
}

.subscribe-wrap {
  background-color: #434a54;
  padding: 50px 15%;
  box-sizing: border-box;
  width: 100%;
  border-radius: 5px;
  margin-bottom: 60px;
  .subscribe-title {
    text-align: center;
    display: block;
    color: white;
    font-size: 35px;
    line-height: 45px;
    font-family: $font1-regular;
    margin-bottom: 20px;
  }
  .subscribe-subtitle {
    text-align: center;
    display: block;
    color: #707781;
    font-size: 26px;
    line-height: 36px;
    font-family: $font1-regular;
    margin-bottom: 20px;
  }
}

.wp-caption-text {
  font-family: $font1-regular;
  color: #4c5058;
  font-size: 15px;
  line-height: 25px;
}

.thumbnail.wp-caption.alignnone {
  display: block;
  margin: 0 0 40px 0;
}

figure img + br,
figure a + br,
figure img + p,
figure a + p  { display: none; }

.post.single .post-main {
  h1, h2, h3, h4, h5, h6 {
    font-family: $font1-bold;
    color: #2a3239;
    margin: 0 0 20px 0;
  }
  h1 {
    font-size: 45px;
    line-height: 55px;
  }
  h2 {
    font-size: 40px;
    line-height: 50px;
  }
  h3 {
    font-size: 35px;
    line-height: 45px;
  }
  h4 {
    font-size: 30px;
    line-height: 40px;
  }
  h5 {
    font-size: 25px;
    line-height: 35px;
  }
  h6 {
    font-size: 20px;
    line-height: 30px;
  }
  p {
    color: #4c5058;
    font-size: 22px;
    line-height: 33px;
    font-family: $font1-regular;
    padding: 0;
    margin: 0 0 30px 0;
    a {
      color: #109c79;
    }
    img {
      max-width: 100%;
      height: auto;
    }
  }
  a {
    img {
      max-width: 100%;
      height: auto;
    }
  }
  ul {
    list-style: none;
    li {
      padding-left: 0px;
      &:before {
        content: '';
        display: inline-block;
        width: 6px;
        height: 6px;
        background-color: #4c5058;
        border-radius: 6px;
        position: absolute;
        left: 0;
        top: 12px;
      }
    }
  }
  ul {
    li {
      padding-left: 22px;
    }
  }
  ul,
  ol {
    margin: 0;
    padding: 0;
    list-style-position: inside;
    margin-bottom: 40px;
    li {
      position: relative;
      box-sizing: border-box;
      color: #4c5058;
      font-size: 22px;
      line-height: 33px;
      font-family: $font1-regular;
      margin-bottom: 5px;
    }
  }
}

.post.single .post-main {
  a {
    text-decoration: none;
    color: #20a987;
  }
  blockquote {
    background-color: #f3f8fa;
    font-style: italic;
    color: #747d85;
    font-family: $font1-regular;
    padding: 50px;
    box-sizing: border-box;
    border-radius: 10px;
    font-size: 22px;
    line-height: 42px;
    margin: 0px;
    text-align: center;
    margin-bottom: 40px;
    p {
      margin: 0;
    }
  }
  table {
    width: 100%;
    display: table;
    margin-bottom: 30px;
  }
  img.alignright {float:right; margin:0 0 1em 1em}
  img.alignleft {float:left; margin:0 1em 1em 0}
  img.aligncenter {display: block; margin:1em auto 1em auto}
  a img.alignright {float:right; margin: 1em 0 1em 1em;}
  a img.alignleft {float:left; margin:0 1em 1em 0}
  a img.aligncenter {display: block; margin:1em auto 1em auto}
}

.subscribe-wrap {
  .subscribe {
    position: relative;
    &:before {
      
    }
    &:after {
      content: '';
      clear: both;
      display: block;
    }
    input[type="text"] {
      width: calc(100% - 180px);
      padding: 15px 0 15px 0;
      float: left;
      box-sizing: border-box;
      color: white;
    }
    input[type="submit"] {
      float: right;
      border-bottom: 0px solid #e8eaec;
    }
  }
}

.comments-header {
  height: 60px;
  margin-bottom: 40px;
  h5 {
    display: inline-block;
    line-height: 60px;
  }
  a {
    float: right;
  }
}

.post.single {
  .comments-header {
    h5 {
      line-height: 60px;
      margin:  0 0 0 0;
      color: #2a2a2a;
      font-size: 25px;
      font-family: $font1-bold;
    }
  }
}

.reply-box {
  
}

#respond {
  #reply-title {
    font-size: 24px;
    font-family: $font1-regular;
    color: #272a2d;
    line-height: 34px;
    font-weight: normal;
    small {
      margin-left: 10px;
    }
  }
}
.comment-form {
  input[type="text"].error, 
  textarea.error, 
  input[type="email"].error {
    border-bottom: 2px solid #e8cbc8;
  }
  input[type="submit"] {
    font-size: 16px;
    line-height: 20px;
  }
}

.comment-form {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap; /* Safari */
  flex-wrap: wrap;
  width: 100%;
  label {
    color: #272a2d;
    font-size: 16px;
    line-height: 16px;
    margin-bottom: 20px;
    font-family: $font1-regular;
  }
  p {
    display: flex;
    flex-direction: column;
    width: 100%;
    &:nth-child(1) {
      order: 1;
    }
    &:nth-child(2) {
      order: 2;
    }
    &:nth-child(3) {
      order: 3;
    }
    &:nth-child(4) {
      order: 4;
    }
    &:nth-child(5) {
      order: 6;
    }
    &:nth-child(6) {
      position: relative;
      order: 5;
      margin: 0 0 20px 0;
      line-height: 0 !important;
      &:after {
        position: absolute;
        width: 100%;
        z-index: 8;
        display: inline-block;
        content: 'Notify me via E-Mail when someone replies directly to my comment';
        font-size: 14px;
        line-height: 24px !important;
        color: #969ea5;
        padding-left: 34px;
        box-sizing: border-box;
        width: 100%;
        height: 24px;
      }
      label {
        font-size: 0px;
        line-height: 24px !important;
        z-index: 10;
        width: 24px;
        &:before {
          font-size: 16px;
        }
      }
      [type="checkbox"] {
        width: 24px;
        height: 24px;
      }
      /* Base for label styling */
      [type="checkbox"]:not(:checked),
      [type="checkbox"]:checked {
        position: absolute;
        left: -9999px;
      }
      [type="checkbox"]:not(:checked) + label,
      [type="checkbox"]:checked + label {
        position: relative;
        padding-left: 1.95em;
        cursor: pointer;
      }

      /* checkbox aspect */
      [type="checkbox"]:not(:checked) + label:before,
      [type="checkbox"]:checked + label:before {
        content: '';
        position: absolute;
        left: 0; top: 0;
        width: 1.25em; height: 1.25em;
        border: 2px solid #ccc;
        border-radius: 4px;
        box-shadow: inset 0 1px 3px rgba(0,0,0,.1);
      }
      [type="checkbox"]:not(:checked) + label:before {
        background: #fff;
      }
      [type="checkbox"]:checked + label:before {
        border: 2px solid #2d9c84!important;
        background-color: #2d9c84;
        color: white;
        box-shadow: none;
      }
      /* checked mark aspect */
      [type="checkbox"]:not(:checked) + label:after,
      [type="checkbox"]:checked + label:after {
        content: "\f00c";
        font-family: FontAwesome;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        position: absolute;
        top: 0;
        display: block;
        left: 0;
        text-align: center;
        width: 100%;
        font-size: 14px;
        line-height: 24px;
        color: white;
        transition: all .2s;
      }
      /* checked mark aspect changes */
      [type="checkbox"]:not(:checked) + label:after {
        opacity: 0;
        transform: scale(0);
      }
      [type="checkbox"]:checked + label:after {
        opacity: 1;
        transform: scale(1);
      }
      /* disabled checkbox */
      [type="checkbox"]:disabled:not(:checked) + label:before,
      [type="checkbox"]:disabled:checked + label:before {
        box-shadow: none;
        border-color: #bbb;
        background-color: #ddd;
      }
      [type="checkbox"]:disabled:checked + label:after {
        color: #999;
      }
      [type="checkbox"]:disabled + label {
        color: #aaa;
      }
      /* accessibility */
      [type="checkbox"]:checked:focus + label:before,
      [type="checkbox"]:not(:checked):focus + label:before {
        
      }

      /* hover style just for information */
      label:hover:before {
        border: 2px solid #2d9c84!important;
      }
    }
  }
  
}

.single-post.logged-in {
  .comment-form {
    p {
      &:nth-child(3) {
        order: 5;
      }
      &:nth-child(6) {
        order: 3;
      }
    }
  }
}

.single {
  .post-content .container .inner {
    padding: 50px 110px 0px 110px;
  }
}

.comment-respond {
  display: block;
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.3s ease;
}
.comment-respond.slide {
  max-height: 1000px;
  transition: max-height 0.3s ease;
  padding-bottom: 50px;
}

.content-box {
  position: relative;
  width: 100%;
  border-radius: 5px;
  padding: 35px;
  box-sizing: border-box;
  margin-bottom: 30px;
  .box-img {
    position: absolute;
    left: 35px;
    top: 50%;
    max-width: 40px;
    transform: translate(0, -50%);
    img {
      width: 100%;
      display: block;
      height: auto;
    }
  }
  .box-inner {
    width: 100%;
    padding-left: 60px;
    box-sizing: border-box;
    color: #616e6f;
    font-size: 18px;
    line-height: 28px;
    font-family: $font1-regular;
  }
}

.content-box.info {
  background-color: #dbf5fc;
}
.content-box.alert {
  background-color: #f9e6dc;
}
.content-box.checkmark {
  background-color: #ddf9f2;
}
.content-box.lightbulb {
  background-color: #fff7d3;
}

#cancel-comment-reply-link {
  position: relative;
  background-color: #11b98f;
  padding: 4px 8px;
  text-decoration: none;
  font-size: 10px;
  vertical-align: middle;
  box-sizing: border-box;
  text-shadow: 0 0 0;
  font-weight: normal;
  border-radius: 3px;
  box-shadow: 1px 1px 3px 0 rgba(76, 83, 89, 0.2), 0 2px 10px 0 rgba(76, 83, 89, 0.2);
  color: white;
  font-family: "akkurat-regular", Arial, Helvetica, sans-serif;
  border: 0;
  outline: 0;
  transition: all 0.2s ease-in-out;
}

#loader {
  display: none;
}

.comment-submit {
  margin-top: 50px;
  margin-bottom: 10px;
  display: block;
  text-align: center;
}

.logged-in-as {
  margin: 0;
  font-size: 0;
  display: none !important;
  a {
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 4px;
    display: block;
    font-family: $font1-regular;
    color: #11b98f;
  }
}

.reply-box.loading {
  .comment-respond {display: none;}
  #loader {
    position: relative;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    left: 50%;
    margin-left: -17px;
    margin-bottom: 50px;
    width: 35px;
    height: 35px;
    &:before, 
    &:after {
      position: absolute;
      left: 0;
      top: 0;
      display: block;
      content: '';
      border: 2px solid #11b98f;
      border-bottom-color: transparent;
      border-top-color: transparent;
      border-radius: 100%;
      height: 35px;
      width: 35px;
      -webkit-animation: rotate 1s 0s ease-in-out infinite;
      animation: rotate 1s 0s ease-in-out infinite;
    }
    &:before {
      border: 2px solid #11b98f;
      display: inline-block;
      top: 10px;
      left: 10px;
      width: 15px;
      height: 15px;
      -webkit-animation-duration: .5s;
      animation-duration: .5s;
      border-color: #11b98f transparent;
      -webkit-animation-direction: reverse;
      animation-direction: reverse;
    }
  }
}

.reply-box.thank-you {
  .ajax-success {
    opacity: 1;
    visibility: visible;
  }
  .comment-respond {
    display: none;
  }
}

.author-bio {
  span {
    display: block;
    margin-bottom: 15px;
  }
}

.ajax-success {
  text-align: center;
  padding: 30px 0 0 0;
  > div {
    display: block;
    width: 100%;
    i {
      font-size: 70px;
      color: #3ca38c;
      margin-bottom: 25px;
    }
  }
  color: #272a2d;
  font-family: $font1-regular;
  font-size: 24px;
  line-height: 32px;
  span {
    margin: 20px 0;
    display: block;
    color: #7d858d;
  }
}

@media (max-width: 960px) {
  .single {
    .post-content {
      .container {
        .inner {
          padding: 50px 20px;
        }
      }
    }
  }
  .share-container {
    position: absolute;
    z-index: 666;
    top: -25px;
    left: 50%;
    line-height: 50px;
    transform: translate(-50%, 0);
    background-color: white;
    box-shadow: 0 0 7px rgba(76,83,89,.2);
    min-height: 50px;
    padding: 0 20px;
    box-sizing: border-box;
    border-radius: 50px;
    display: inline-block;
    .share-title {
      position: absolute;
      top: -100%;
      display: block;
      text-align: center;
      width: 100%;
      color: white;
      left: 0;
    }
    .share-article ul li {
      display: inline-block;
      margin-bottom: 0;
      padding: 0 10px;
      box-sizing: border-box;
    }
  }
  .wp-caption.alignnone {
    margin-left: auto;
    margin-right: auto;
  }
}


@media (max-width: 667px) {
  .post-main {
    overflow: hidden;
  }
  
  .subscribe-wrap {
    .subscribe {
      input[type=text] {
        width: 100%;
        padding: 15px 0;
        margin-bottom: 20px;
        float: none;
      }
      input[type=submit] {
        float: none;
        width: 100%;
        text-align: center;
      }
    }
    .subscribe-title {
      font-size: 25px;
      line-height: 35px;
    }
  }
  .author-wrap {
    background-color: transparent;
    padding: 0px;
    border-radius: 0px;
    margin: 80px 0 40px 0;
    .author-inner {
      background-color: #f3f8fa;
      text-align: center;
      padding: 60px;
      border-radius: 20px;
      .author-info {
        padding: 0 0 0 0px;
      }
    }
    .author-photo {
      left: 50%;
      transform: translate(-50%, 0);
      top: -40px;
      width: 80px;
      height: 80px;
      border-radius: 80px;
    }
  }
  .content-box {
    margin: 50px 0 30px 0;
    .box-img {
      position: absolute;
      left: 50%;
      top: -20px;
      max-width: 40px;
      transform: translate(-50%,0);
    }
    .box-inner {
      text-align: center;
      padding-left: 0px;
    }
  }
  .post.single .post-main p {
    font-size: 18px;
    line-height: 30px;
    img {
      max-width: 100%;
      height: auto;
    }
  }
  .post.single .post-main {
    h1 {
      font-size: 35px;
      line-height: 45px;
    }
    h2 {
      font-size: 30px;
      line-height: 40px;
    }
    h3 {
      font-size: 25px;
      line-height: 35px;
    }
    h4 {
      font-size: 20px;
      line-height: 30px;
    }
    h5 {
      font-size: 20px;
      line-height: 30px;
    }
    h6 {
      font-size: 20px;
      line-height: 30px;
    }
    ul li,
    ol li {
      font-size: 18px;
      line-height: 30px;
      margin-bottom: 10px;
    }
  }
}
