.main {
  .contact-page {
    position: relative;
    padding-top: 90px;
    .container {
      position: relative;
      max-width: 800px;
      margin: 0 auto;
      .page-header {
        position: relative;
        padding: 0 0 210px 0;
        box-sizing: border-box;
        overflow: visible;
        .bg-holder {
          width: 300px;
          height: 430px;
          position: absolute;
          display: block;
          right: -30px;
          bottom: -30px;
          background-image: url(../img/host.jpg);
          background-position: 0 0;
          background-repeat: no-repeat;
          background-attachment: inherit;
          backface-visibility: initial;
          background-size: 100%;
        }
        .head-block {
          .title {
            font-size: 60px;
            line-height: 70px;
            color: #2a2a2a;
            font-family: $font1-regular;
            letter-spacing: -0.3px;
            margin: 0;
          }
        }
      }
    }
  }
}

.contact-page {
  .nf-form-cont {
    background-color: #f0faf8;
    border-radius: 5px;
    padding: 6% 12%;
    box-sizing: border-box;
    position: relative;
    z-index: 444;
  }
  .nf-field-container.listselect-container {
    position: absolute;
    left: 0;
    top: -190px;
    max-width: 370px;
    box-sizing: border-box;
    select.ninja-forms-field {
      position: relative;
      border: 0;
      outline: 0;
      display: inline-block;
      background: none;
      padding: 15px 60px 15px 20px;
      border-radius: 3px;
      font-family: $font1-regular;
      color: white;
      cursor: pointer;
      background-repeat: no-repeat;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      -webkit-appearance: none;
      -moz-appearance: none;
      z-index: 33;
      option {
        background-color: white;
        color: #222;
        outline: 1px;
      }
    }
  }
  .listselect-wrap {
    .nf-field-element {
      background-color: #11b98f;
      border-radius: 3px;
      box-shadow: 1px 1px 5px rgba(76, 83, 89, 0.2);
     > div {
        position: absolute;
        z-index: 32;
        right: 0;
        top: 0;
        width: 40px;
        height: 46px;
        display: inline-block;
        box-sizing: border-box;
        border-left: 1px solid #0ca881;
        &:before,
        &:after {
          top: 50%;
          left: 50%;
          border: solid transparent;
          content: " ";
          height: 0;
          width: 0;
          position: absolute;
          pointer-events: none;
        }
        &:after {
          border-color: rgba(0, 0, 0, 0);
          border-top-color: transparent;
          border-width: 0px;
          margin-left: 0px;
        }
        &:before {
          border-color: rgba(255, 255, 255, 0);
          border-top-color: #fff;
          border-width: 6px;
          margin-left: -6px;
          margin-top: -3px;
        }
      }
    }
  }
  .nf-field-container.html-container .nf-field-label, #ninja_forms_required_items.html-container .nf-field-label {
    display: block;
  }
  .nf-field-label label {
    font-weight: normal;
    margin: 0;
    padding: 0;
    color: #2a2a2a;
    font-size: 24px;
    line-height: 32px;
    font-family: $font1-regular;
    letter-spacing: -0.5px;
  }
  .field-wrap.html-wrap {
    .nf-field-element {
      p {
        font-family: $font1-regular;
        color: #63707b;
        font-size: 18px;
        line-height: 24px;
        letter-spacing: -0.3px;
        margin: 0 0 5px 0;
      }
    }
  }
  .field-wrap.textarea-wrap {
    label {display: none;}
  }
  .general_textarea {
    .field-wrap.textarea-wrap {
      label {display: block;}
    }
  }
  .label-above .nf-field-label {
    margin-bottom: 18px;
  }
  .html-container.label-above .nf-field-label{
    margin-bottom: 10px;
  }
  .nf-field-container.file_upload-container {
    .nf-field-label {
      label {display: none;}
    }
    .btn.fileinput-button {
      border: 0;
      outline: 0;
      background-color: #11b98f;
      padding: 22px 30px;
      border-radius: 3px;
      font-family: $font1-regular;
      box-shadow: 1px 1px 5px rgba(76, 83, 89, 0.2);
      color: white;
    }
  }
  .nf-field-element textarea {
    height: 160px;
  }
  .progress {
    height: 20px;
    margin-bottom: 20px;
    overflow: hidden;
    background-color: #f5f5f5;
    border-radius: 0;
    -webkit-box-shadow: inset 0 0 0 rgba(0, 0, 0, .1);
    box-shadow: inset 0 0 0 rgba(0, 0, 0, .1);
    .progress-bar {
      font-size: 12px;
      line-height: 20px;
      color: #fff;
      text-align: center;
      background-color: $color1;
      -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .15);
      box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .15);
      -webkit-transition: width .6s ease;
      -o-transition: width .6s ease;
      transition: width .6s ease;
    }
  }
  .files_uploaded {
    p {
      font-family: $font1-light;
      font-size: 12px;
      line-height: 20px;
    }
    .delete {
      margin-left: 10px;
      text-decoration: none;
      color: $color1;
    }
  }
  .field-wrap input[type="submit"], 
  .field-wrap input[type="button"] {
    border: 0;
    outline: 0;
    background-color: #11b98f;
    border-radius: 3px;
    font-family: "akkurat-regular", Arial, Helvetica, sans-serif;
    box-shadow: 1px 1px 5px rgba(76, 83, 89, 0.2);
    color: white;
    padding: 22px 18%;
    box-shadow: 1px 1px 3px 0 rgba(76, 83, 89, 0.2), 0 2px 10px 0 rgba(76, 83, 89, 0.2);
    transition: all 0.2s ease-in-out;
    &:hover {
      box-shadow: 0 5px 11px 0 rgba(76,83,89,0.2),0 4px 15px 0 rgba(76,83,89,0.2);
      background-color: #00be92;
    }
  }
  .nf-field-container.submit-container {
    text-align: center;
  }
  .nf-field-container, #ninja_forms_required_items {
    margin-bottom: 40px;
  }
  .nf-field-container.html-container {
    margin-bottom: 20px
  }
  
  input[type="text"], textarea, input[type="email"] {
    padding: 0 0 25px 0;
  }
}

.nf-field-container.last-container {
  margin-bottom: 50px;
}

@media (max-width: 767px) {
  .main .contact-page .container .page-header .bg-holder {
    display: none;
  }
  .main .contact-page {
    padding-top: 0px;
  }
  .main .contact-page .container .page-header {
    padding: 0 0 100px 0;
  }
  .contact-page .nf-field-container.listselect-container {
    position: absolute;
    left: 0;
    top: -75px;
  }
}
