.home.page {
  .main {
    padding-bottom: 0;
  }
}
.page.home-page {
  padding: 140px 0 0 0;
}
.home-page {
  position: relative;
  text-align: center;
  h1 {
    font-family: $font1-regular;
    margin: 0 0 30px 0;
    font-size: 45px;
    line-height: 54px;
  }
}

.home-image{
  position: relative;
  width: 100%;
  max-width: 700px;
  margin: 140px auto 0 auto;
  display: block;
  img {
    width: 100%;
  }
}

@media(max-width: 767px) {
  .page.home-page {
    padding: 70px 0 0 0;
  }
  .home-page {
    h1 {
      margin: 0 0 30px 0;
      font-size: 30px;
      line-height: 38px;
    }
  }

  .home-image{
    margin: 80px auto 0 auto;
  }
}

.modal.video-modal {
  background-color: rgba(0,0,0,0.8);
}

.video-modal {
  .video-holder {
    position: relative;
    max-width: 600px;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    top: 50%;
    transform: translate(0, -50%);
    &:before {
      display: block;
      content: "";
      width: 100%;
      padding-top: 56.25%;
    }
    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      outline: 0;
      border: 0;
      height: 100%;
    }
    .close-modal {
      position: absolute;
      right: -12px;
      top: -12px;
      width: 30px;
      height: 30px;
      z-index: 889;
      background-color: #11b98f;
      cursor: pointer;
      border-radius: 30px;
      &:before,
      &:after {
        background-color: white;
        position: absolute;
        content: '';
        display: inline-block;
        transform: rotate(45deg);
      }
      &:before {
        width: 16px;
        height: 2px;
        left: 50%;
        top: 50%;
        margin-top: -1px;
        margin-left: -8px;
      }
      &:after {
        width: 2px;
        height: 16px;
        left: 50%;
        top: 50%;
        margin-top: -8px;
        margin-left: -1px;
      }
    }
  }
}

.fa.fullscreen-mode {
  position: absolute;
  left: 50%;
  margin-left: -20px;
  top: -20px;
  z-index: 888;
  cursor: pointer;
  width: 40px;
  height: 40px;
  font-size: 16px;
  border-radius: 40px;
  background-color: #11b98f;
  color: white;
  text-align: center;
  line-height: 40px;
}


