body.active {
  overflow: hidden;
}
.main {
  padding-bottom: 100px;
  .page {
    position: relative;
    min-height: 100%;
    box-sizing: border-box;
    .container {
      position: relative;
      max-width: 1170px;
      box-sizing: border-box;
      margin: 0 auto;
      padding: 50px 20px;
      .page-header {
        display: inline-block;
        width: 100%;
        box-sizing: border-box;
        .section-block {
          position: relative;
          float: left;
        }
      }
    }
    .container.c740 {
      max-width: 740px;
    }
  }
}

.section-title {
  font-family: $font1-bold;
  margin: 0;
  display: block;
  color: #2a2a2a;
}
.sub-title {
  font-family: $font1-regular;
  margin: 0;
  display: block;
  color: #63707b;
}

@media (min-width: 768px) {
  .main {
    .page {
      padding: 0 0 0 0;
      .container {
        .page-header {
          padding: 0 10% 70px 10%;
          .section-block {

          }
        }
      }
    }
  }
  .section-title {
    font-size: 55px;
    line-height: 55px;
    margin-bottom: 15px;
  }
  .sub-title {
    font-size: 18px;
    line-height: 24px;
  }
}

@media (max-width: 767px) {
  .section-title {
    margin-bottom: 10px;
  }
  .main {
    .page {
      .content {padding-bottom: 75px;}
      .container {
        padding: 50px 30px 0 30px;
        .page-header {
          .section-block {
            margin-bottom: 10px;
          }
        }
      }
    }
  }
}