.step {
  position: relative;
  border-bottom: 1px solid #e8eaeb;
  background-color: white;
  overflow: hidden;
  &:nth-child(2n) {
    background-color: #fafcfd;
  }
  &:last-child {border-bottom: 0px solid transparent;}
  &:first-child {
    padding-top: 30px;
  }
  .wrap {
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box;
  }
  .wrap.in {
    padding: 150px 10%;
  }
  .wrap.normal {
    padding: 150px 20px;
  }
  .wrap.out {
    max-width: 100%;
    padding: 150px 40px;
  }
  .wrap.in.blocked {
    display: table;
    width: 100%;
    padding: 0 10% 0 10%;
  }
  .wrap.no-padding {
    padding: 0 0;
  }
  .wrap.no-padding-side {padding: 150px 0px;}
  img {
    max-width: 100%;
    height: auto;
    display: block;
  }
}

.step.no-border {border-bottom: 0px solid transparent;}

.step {
  .page-title {
    font-family: $font1-light;
    font-size: 30px;
    display: block;
    color: #2a2a2a;
    margin-bottom: 20px;
  }
  .title {
    font-size: 60px;
    line-height: 74px;
    color: #2a2a2a;
    margin: 0 0 20px 0;
    font-family: $font1-regular;
  }
  .title.white {
    color: white;
  }
  .sub-title {
    margin-bottom: 30px;
    font-size: 22px;
  }
  .content-left,
  .content-right {
    display: table-cell;
    vertical-align: middle;
  }
  .content-left {
    width: 60%;
  }
  .content-right {
    width: 40%;
  }
  .step-content {
    p {
      font-family: $font1-regular;
      font-size: 18px;
      line-height: 28px;
      letter-spacing: -0.3px;
      color: #63707b;
      margin: 0 0 25px 0;
    }
    .btn {
      margin-bottom: 20px;
    }
  }
  .has-bg {
    background-repeat: no-repeat;
    background-position: 82% 100%;
  }
}

.centered {
  text-align: center;
}

#domain-form {
  max-width: 320px;
  padding-bottom: 70px;
  input[type="text"] {
    border: 0;
    outline: 0;
    padding: 0 0 15px 0;
    box-sizing: border-box;
    box-shadow: inset 0 0 0 transparent;
    border-radius: 0;
    font-family: $font1-regular;
    font-size: 18px;
    color: #2d2d2d;
    border-bottom: 2px solid #e8eaec;
    margin-bottom: 30px;
    &::-webkit-input-placeholder {color: #b8c0c7;}
    &:-moz-placeholder {color: #b8c0c7;}
    &::-moz-placeholder {color: #b8c0c7;}
    &:-ms-input-placeholder {color: #b8c0c7;}
  }
  input[type="submit"] {
    position: relative;
    background-color: #11b98f;
    padding: 22px 45px 22px 45px;
    vertical-align: middle;
    box-sizing: border-box;
    text-shadow: 0 0 0;
    font-weight: normal;
    border-radius: 3px;
    box-shadow: 1px 1px 3px 0 rgba(76, 83, 89, 0.2), 0 2px 10px 0 rgba(76, 83, 89, 0.2);
    color: white;
    font-family: $font1-regular;
    border: 0;
    outline: 0;
    transition: all 0.2s ease-in-out;
    &:hover {
      box-shadow: 0 5px 11px 0 rgba(76,83,89,0.2),0 4px 15px 0 rgba(76,83,89,0.2);
      background-color: #00be92;
      background-image: none; 
    }
  }
  #results {
    position: absolute;
    p {
      font-family: $font1-regular;
      font-size: 16px;
      line-height: 20px;
      color: #1d1d1d;
      b {font-family: $font1-bold;}
    }
    p.available {
      position: relative;
      padding-left: 32px;
      background-color: transparent;
      overflow: visible;
      margin: 0;
      &:before {
        font-family: FontAwesome;
        content: "\f00c";
        color: white;
        font-size: 12px;
        line-height: 20px;
        text-align: center;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        position: absolute;
        background-color: #4ebea6;
        display: inline-block;
        left: 0;
        width: 20px;
        height: 20px;
        border-radius: 15px;
      }
      &:after {
        position: absolute;
        top: 100%;
        left: 0;
        content: 'Go to step 2';
        display: block;
        color: #dedfdf;
        padding-left: 32px;
      }
    }
    p.not-available {
      position: relative;
      padding-left: 32px;
      background-color: transparent;
      &:before {
        font-family: FontAwesome;
        content: "\f00d";
        color: white;
        font-size: 12px;
        line-height: 20px;
        text-align: center;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        position: absolute;
        background-color: #ca6448;
        display: inline-block;
        left: 0;
        width: 20px;
        height: 20px;
        border-radius: 15px;
        
      }
    }
  }
}

@keyframes rotate {
  0% {
    -webkit-transform: rotate(0) scale(1);
    transform: rotate(0) scale(1);
  }
  50% {
      -webkit-transform: rotate(180deg) scale(.6);
      transform: rotate(180deg) scale(.6);
  }
  100% {
      -webkit-transform: rotate(360deg) scale(1);
      transform: rotate(360deg) scale(1);
  }
}

#loading {
  position: relative;
  float: right;
  top: -65px;
  img {display: none;}
  &:before,
  &:after {
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    content: '';
    border: 2px solid $color1;
    border-bottom-color: transparent;
    border-top-color: transparent;
    border-radius: 100%;
    height: 35px;
    width: 35px;
    -webkit-animation: rotate 1s 0s ease-in-out infinite;
    animation: rotate 1s 0s ease-in-out infinite;
  }
  &:before {
    border: 2px solid $color1;
    display: inline-block;
    top: 10px;
    left: 10px;
    width: 15px;
    height: 15px;
    -webkit-animation-duration: .5s;
    animation-duration: .5s;
    border-color: $color1 transparent;
    -webkit-animation-direction: reverse;
    animation-direction: reverse;
  }
}

.content-steps {
  position: relative;
  display: inline-block;
  width: 100%;
  .content-step {
    float: left;
    width: 33.33%;
    padding: 0 25px;
    box-sizing: border-box;
    display: inline-block;
    h1 {
      font-family: $font1-regular;
      font-size: 24px;
      color: #2a2a2a;
      line-height: 30px;
    }
    .display {margin-bottom: 40px;}
  }
}

.step.end {
  background-color: #d3d9dd;
  .step-content {
    display: table;
    width: 100%;
    p {
      margin-bottom: 0;
    }
  }
  .img-hold {
    margin: 0 auto;
    display: block;
    width: 100%;
    max-width: 515px;
  }
  .bg-wrap-left,
  .bg-wrap-right {
    position: relative;
    box-sizing: border-box;
    width: 28%;
    display: table-cell;
    background-repeat: no-repeat;
  }
  .bg-wrap-left {
    background-position: left bottom;
    background-size: 195px auto;
  }
  .bg-wrap-right {
    background-position: right bottom;
    background-size: 376px auto;
  }
  .content-wrap {
    position: relative;
    box-sizing: border-box;
    width: 44%;
    padding: 150px 0;
    display: table-cell;
  }
}
.step.support-section {
  background-color: white;
}
.support-section {
  .sub-title {margin-bottom: 50px;}
  .support-wrap {
    max-width: 310px;
    margin: 0 auto;
    input[type="submit"] {width: 100%;}
    .label-above .nf-field-label {display: none;}
  }
  h3 {
    font-size: 24px;
    display: block;
    color: #2a2a2a;
    font-family: $font1-light;
    margin: 0 0 50px 0;
  }
  .nf-field-container, #ninja_forms_required_items {
    margin-bottom: 40px;
  }
  .submit-container input[type="submit"], 
  .submit-container input[type="button"] {
    width: 100%;
  }
}

.subscribe-section {
  position: relative;
  overflow: hidden;
  padding: 0 20px;
  .upper {
    margin-bottom: 10px;
  }
  .subscribe-block {
    position: relative;
    max-width: 1170px;
    margin: 0 auto;
    border-radius: 5px;
    background-color: #434a54;
    text-align: center;
    padding: 60px 50px;
    box-sizing: border-box;
    h1 {
      font-family: $font1-regular;
      color: white;
      font-size: 36px;
      line-height: 42px;
      margin: 0 0 10px 0;
      display: block;
    }
    h3 {
      font-family: $font1-light;
      display: block;
      color: #707781;
      font-size: 24px;
      line-height: 32px;
      margin: 0 0 25px 0;
    }
    .subscribe {
      input[type="text"] {
        vertical-align: middle;
        min-height: 50px;
        padding:  0 0 20px 0;
        width: 28%;
        color: white;
        margin-bottom: 0;
        margin-right: 25px;
      }
    }
  }
}

.whats-next-section {
  position: relative;
  overflow: hidden;
  padding: 120px 6% 0 6%;
  max-width: 1170px;
  margin: 0 auto;
  box-sizing: border-box;
  .whats-next {
    position: relative;
    width: 100%;
    display: inline-block;
    > h1 {
      font-size: 60px;
      color: #2a2a2a;
      margin: 0 0 20px 0;
      font-family: $font1-regular;
      text-align: center;
      display: block;
      margin: 0 0 50px 0;
    }
    a {
      display: block;
      text-decoration: none;
      color: #2a2a2a;
    }
    .next-item {
      width: 33.33%;
      float: left;
      box-sizing: border-box;
      padding: 0 35px;
      margin-bottom: 40px;
      img {
        width: 100%;
        height: auto;
        display: block;
        border-radius: 5px;
      }
      h1 {
        font-size: 24px;
        line-height: 32px;
      }
    }
  }
}

#resource-video.hidden {
  visibility: hidden;
  z-index: -999;
  opacity: 0;
}
#resource-video {
  visibility: visible;
  z-index: 9998;
  opacity: 1;
  background-color: rgba(52,58,65,0.6);
  .modal-holder {
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    max-width: 1170px;
    left: 50%;
    width: 100%;
    padding: 0 10%;
    box-sizing: border-box;
    .video-action {
      width: 40%;
      text-align: center;
      float: right;
      p {
        padding-left: 50px;
        font-family: $font1-regular;
        font-size: 16px;
        line-height: 26px;
        color: white;
        margin: 0;
      }
      .play-area {
        cursor: pointer;
        text-align: right;
        padding-right: 26px;
      }
    }
  }
}

#draggable {
  position: fixed;
  bottom: 40px;
  left: 50%;
  top: 50%;
  max-width: 600px;
  z-index: 88888;
  width: 100%;
  transform: translate(-50%, -200%);
  opacity: 0;
  transition: all .2s ease-in-out;
  .dragit {
    position: absolute;
    background-color: #11b98f;
    width: 40px;
    height: 40px;
    top: -16px;
    cursor: move;
    left: -16px;
    border-radius: 40px;
    z-index: 9999;
    text-align: center;
    line-height: 40px;
    color: white;
  }
  iframe {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    border: 0;
    outline: 0;
  }
}
#draggable.shown {
  transform: translate(-50%, -50%);
  transition: all .2s ease-in-out;
  opacity: 1;
}

.show-hide {
  position: fixed;
  bottom: 40px;
  left: 50%;
  transform: translate(-50%, 200%);
  opacity: 0;
  background-color: #11b98f;
  padding: 14px 30px;
  vertical-align: middle;
  z-index: 7777;
  box-sizing: border-box;
  text-shadow: 0 0 0;
  font-weight: 400;
  border-radius: 3px;
  box-shadow: 1px 1px 3px 0 rgba(76,83,89,.2), 0 2px 10px 0 rgba(76,83,89,.2);
  color: white;
  font-family: akkurat-regular,Arial,Helvetica,sans-serif;
  border: 0;
  outline: 0;
  transition: all .2s ease-in-out;
}
.show-hide.shown {
  transform: translate(-50%, 0);
  opacity: 1;
}

@media (max-width: 1366px) {
  .step .content-right {
    width: 30%;
  }
}

@media (max-width: 767px) {
  .content-steps {
    .content-step {
      width: 100%;
      padding: 0 20%;
      margin-bottom: 30px;
    }
  }
  .step.end {
    .bg-wrap-left, 
    .bg-wrap-right {
      display: none;
    }
    .content-wrap {
      width: 100%;
      padding: 70px 30px;
    }
  }
  .step {
    .title {
      font-size: 40px;
      line-height: 54px;
    }
  }
  .whats-next-section {
    .whats-next {
      > h1 {
        font-size: 40px;
        line-height: 54px;
      }
      .next-item {
        width: 100%;
        padding: 0 20%;
      }
    }
  }
}

@media (min-width: 768px) and  (max-width: 1024px) {
  .step.end {
    .bg-wrap-left, 
    .bg-wrap-right {
      display: none;
    }
    .content-wrap {
      padding: 150px 30px;
    }
  }
}

@media (max-width: 480px) {
  .content-steps {
    .content-step {
      padding: 0 30px;
    }
  }
  #domain-form {
    padding-bottom: 30px;
  }
  .step.add-content {
    overflow: hidden;
  }
  .step.end {
    .img-hold {margin-bottom: -40px !important;}
    .step-content,
    .content-wrap {
      display: block;
    }
    .content-wrap {padding: 0 0;}
  }
  .support-section h3 {
    font-size: 20px;
    line-height: 30px;
  }
  .step.step-two {
    .wrap.in {
      padding: 70px 30px 150px 30px;
    }
  }
  .step {
    overflow-x: hidden;
    .title {
      font-size: 30px;
      line-height: 40px;
    }
    .wrap.out,
    .wrap.normal,
    .wrap.in {
      padding: 70px 30px;
    }
    .step-content p {
      font-size: 14px;
      line-height: 24px;
    }
    .has-bg {
      background-position: bottom center;
      background-size: 80%;
    }
    .content-right {
      position: absolute;
      bottom: 0;
      width: 50%;
      opacity: 0;
    }
    .content-left {
      padding: 40px 0 50px 0;
      width: 100%;
    }
    .page-title {
      font-size: 22px;
      line-height: 32px;
    }
    .sub-title {
      font-size: 18px;
      line-height: 24px;
    }
  }
  .subscribe-section {
    .subscribe-block {
      h1 {
        font-size: 30px;
        line-height: 38px;
      }
      h3 {
        font-size: 20px;
        line-height: 28px;
      }
      .subscribe {
        input[type="text"] {
          width: 100%;
          margin-bottom: 30px;
          text-align: center;
          margin-right: 0;
        }
      }
    }
  }
  .whats-next-section {
    position: relative;
    padding: 70px 30px 0 30px;
    text-align: center;
    .whats-next {
      .next-item {
        padding: 0 0;
      }
    }
  }
}


