.standard {
  .page-title {

  }
  .actions {
    .article_quote {
      p, h3 {
        font-style: normal;
      }
      h3 {
        color: #4c5058;
        font-size: 36px;
        line-height: 46px;
        margin: 0 0 20px 0;
        font-style: normal !important;
      }
    }
  }
}
@media (max-width: 667px) {
  .about.standard {
    .page-title {
      font-size: 26px;
      line-height: 36px;
    }
  }
  .about.standard{
    h2 {
      font-size: 26px;
      line-height: 36px;
    }
    p {
      b {
        font-size: 24px;
        line-height: 30px;
      }
    }
    .btn {
      font-size: 12px;
      letter-spacing: 0.5px;
      padding: 17px 25px;
    }
    .actions .article_quote h3 {
      font-size: 26px;
      line-height: 36px;
    }
    ul li, 
    ol li {
      position: relative;
      box-sizing: border-box;
      color: #4c5058;
      font-size: 22px;
      line-height: 33px;
      font-family: akkurat-regular,Arial,Helvetica,sans-serif;
      margin-bottom: 5px;
    }
  }
}