.themes {
  box-sizing: border-box;
  .items {
    display: inline-block;
    width: 100%;
    padding-top: 5px;
    box-sizing: border-box;
    .no-results {
      font-family: "akkurat-regular", Arial, Helvetica, sans-serif;
      font-size: 14px;
      line-height: 20px;
      color: #1d1d1d;
      background-color: #f2dede;
      border-color: #eed3d7;
      padding: 8px 14px 8px 14px;
      border-radius: 4px;
      margin: 0 20px 20px 20px;
    }
    .item {
      position: relative;
      display: none;
      overflow: visible;
      box-sizing: border-box;
      a {display: block;}
      &:hover {
        .inner {
          > a {
            &:before {
              visibility: visible;
              z-index: 3;
              opacity: 1;
              transition: all 0.2s ease-in-out;
            }
          }
        }
      }
      .inner {
        > a {
          position: relative;
          display: block;
          padding: 14px 0 0 0;
          &:before {
            position: absolute;
            border-radius: 3px;
            top: 0;
            left: 0;
            content: '';
            display: block;
            width: 100%;
            height: 100%;
            opacity: 0;
            background-color: rgba(69,76,85,0.9);
            visibility: hidden;
            z-index: 1;
            transition: all 0.2s ease-in-out;
          }
        }
        position: relative;
        z-index: 2;
        min-height: 100%;
        width: 100%;
        border-radius: 3px;
        box-shadow: 1px 1px 7px rgba(76, 83, 89, 0.15);
        perspective: 3px;
        height: 211px;
        overflow: hidden;
      }
    }
  }
}

.item {
  .modal-find {
    position: absolute;
    left: 50%;
    top: 50%;
//  -webkit-transform: translate(-50%, -1000%);
//  transform: translate(-50%, -1000%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    opacity: 0;
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 40px;
    background-color: $color1;
    line-height: 40px;
    text-align: center;
    z-index: 3;
    color: white;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
    i {line-height: 40px;}
  }
  &:hover {
    .modal-find {
      opacity: 1;
      transition: all 0.2s ease-in-out;
//      animation-name: bounceInDown;
//      animation-duration: 0.3s;
//      animation-iteration-count: 1;
//      animation-direction: normal;
//      animation-timing-function: ease;
//      animation-fill-mode: forwards;
//      animation-delay: 0.1s;
    }
  }
  img {
    height: auto;
    max-width: 100%;
    display: block;
  }
  h1 {
    font-family: $font1-regular;
    display: block;
    text-align: center;
    color: #63707b;
    margin: 20px 0 0 0;
  }
}

.dots {
  position: absolute;
  top: 5px;
  left: 12px;
  width: 5px;
  height: 5px;
  display: inline-block;
  border-radius: 5px;
  background-color: #ffe259;
  &:before,
  &:after {
    position: absolute;
    width: 5px;
    height: 5px;
    display: inline-block;
    border-radius: 5px;
    content: '';
  }
  &:before {
    left: -7px;
    background-color: #ed6b5e;
  }
  &:after {
    right: -7px;
    background-color: #11b98f;
  }
}

.controls {
  margin-bottom: 30px;
  fieldset {
    border: 0;
    margin: 0;
    padding: 0;
    display: block;
    width: 100%;
    button {
      position: relative;
      font-family: $font1-regular;
      background: none;
      border: 0;
      padding: 0;
      font-size: 16px;
      color: #1a1a1a;
      &:first-child {
        margin-right: 9px;
      }
      &:last-child {
        margin-left: 6px;
      }
      &:focus {
        outline: 0;
      }
    }
    button.active {
      font-family: $font1-bold;
      &:before {
        position: absolute;
        bottom: -5px;
        margin-left: 0;
        left: 50%;
        transform: translate(-50%, 0);
        width: calc(100% + 10px);
        max-width: 43px;
        height: 5px;
        content: '';
        display: inline-block;
        background-image: url('../img/svg/active-themes.svg');
        background-size: 80% 5px;
        background-position: center center;
        background-repeat: no-repeat;
      }
    }
  }
}

.no-results {
  display: none;
}
.no-results.failed {
  display: block;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
      -moz-transform: translateY(0);
      -ms-transform: translateY(0);
      -webkit-transform: translateY(0);
      transform: translateY(0);
  }
  40% {
      -moz-transform: translateY(-3px);
      -ms-transform: translateY(-3px);
      -webkit-transform: translateY(-3px);
      transform: translateY(-3px);
  }
  60% {
      -moz-transform: translateY(2px);
      -ms-transform: translateY(2px);
      -webkit-transform: translateY(2px);
      transform: translateY(2px);
  }
}

.filter-themes {
  position: relative;
  margin-top: 15px;
  float: right;
  z-index: 200;
  .filter-it {
    position: relative;
    background-color: $color1;
    padding: 15px 85px 15px 22px;
    vertical-align: middle;
    box-sizing: border-box;
    display: inline-block;
    border-radius: 3px;
    box-shadow: 1px 1px 3px 0 rgba(76, 83, 89, 0.2), 0 2px 10px 0 rgba(76, 83, 89, 0.2);
    transition: all 0.2s ease-in-out;
    color: white;
    font-family: $font1-bold;
    border: 0;
    outline: 0;
    &:hover {
      box-shadow: 0 5px 11px 0 rgba(76,83,89,0.2),0 4px 15px 0 rgba(76,83,89,0.2);
      background-color: #00be92;
//      &:not(.on) {
//        .caret {
//          &:before {
//            -moz-animation: bounce 0.7s infinite;
//            -webkit-animation: bounce 0.7s infinite;
//            animation: bounce 0.7s infinite;
//          }
//        }
//      }
    }
    .caret {
      position: absolute;
      top: 0;
      right: 0;
      height: 100%;
      pointer-events:none;
      display: inline-block;
      border-left: 1px solid #0ca881;
      width: 44px;
      box-sizing: border-box;
      &:after, &:before {
        top: 50%;
        left: 50%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
      }
      &:after {
        border-color: rgba(0, 0, 0, 0);
        border-top-color: transparent;
        border-width: 0px;
        margin-left: -0px;
      }
      &:before {
        border-color: rgba(255, 255, 255, 0);
        border-top-color: #fff;
        border-width: 6px;
        margin-left: -6px;
        margin-top: -3px;
      }
    }
  }
  #toggle.on {
    .caret {
      &:before {
        border-top-color: transparent;
        border-bottom-color: #fff;
        margin-top: -9px;
      }
    }
  }
  #toggle.on + .filter-items {
    opacity: 1;
    visibility: visible;
    transition: all 0.2s ease-in-out;
  }
  .filter-items {
    opacity: 0;
    visibility: hidden;
    transition: all 0.2s ease-in-out;
    position: absolute;
    width: 100%;
    box-sizing: border-box;
    padding: 10px 0;
    top: 100%;
    margin-top: 10px;
    background-color: white;
    border-radius: 3px;
    box-shadow: 1px 1px 7px rgba(76, 83, 89, 0.15);
    list-style: none;
    li {
      position: relative;
      display: block;
      a {
        display: block;
        color: #58646e;
        font-family: $font1-regular;
        text-decoration: none;
        box-sizing: border-box;
        padding: 8px 22px;
        transition: all 0.1s ease-in-out;
        &:hover {
          transition: all 0.1s ease-in-out;
          background-color: #f7f9fb;
        }
      }
      ul {
        position: absolute;
        display: none;
        top: 0;
        left: 100%;
        width: 100%;
        border-radius: 3px;
        padding: 10px 0;
        box-sizing: border-box;
        box-shadow: 1px 1px 7px rgba(76, 83, 89, 0.15);
        background-color: white;
        margin: -10px 0 0 10px;
      }
    }
    li.current {
      a {background-color: #f7f9fb;}
    }
  }
}

.paginate {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
  display: inline-block;
  padding: 0 70px;
  box-sizing: border-box;
  text-align: center;
  .pagination.no-pagers {
    display: none;
  }
  .pagination {
    min-height: 50px;
    padding: 0 20px;
    box-sizing: border-box;
    border-radius: 50px;
    display: inline-block;
    span {
      display: inline-block;
      line-height: 50px;
      padding: 0 6px;
      box-sizing: border-box;
      cursor: pointer;
      &:hover {
        color: $color1;
      }
    }
    .page-number {
      font-family: $font1-regular;
    }
    .page-number.active {
      font-family: $font1-bold;
      color: $color1; 
    }
    .page-prev,
    .page-next {
      position: absolute;
      top: 0;
      height: 50px;
      width: 50px;
      border-radius: 50px;
      box-shadow: 0 0 4px rgba(76, 83, 89, 0.2);
    }
    .page-prev.disabled,
    .page-next.disabled {
      color: #cccccc;
      &:hover {
        cursor:text;
        i {color: #cccccc;}
      }
    }

    .page-prev {
      left: 0;
    }
    .page-next {
      right: 0;
    }
  }
}

@media (min-width: 1025px) {
  .themes {
    .items {
      width: calc(100% + 40px);
      margin: 0 -20px;
      margin-bottom: 40px;
      overflow: hidden;
      .item {
        position: relative;
        width: 33.33%;
        padding: 0 20px;
        margin-bottom: 40px;
        box-sizing: border-box;
        float: left;
        h1 {
          font-size: 18px;
        }
      }
    }
  }
}
@media (min-width: 768px) {
  .paginate {
    .pagination {
      background-color: white;
      box-shadow: 0 0 7px rgba(76, 83, 89, 0.2);
    }
  }
}

@media (max-width: 1024px) {
  .themes {
    .items {
      width: calc(100% + 40px);
      margin: 0 -20px;
      margin-bottom: 50px;
      overflow: hidden;
      .item {
        position: relative;
        width: 50%;
        padding: 0 20px;
        margin-bottom: 40px;
        box-sizing: border-box;
        float: left;
        h1 {
          font-size: 18px;
        }
      }
    }
  }
}

@media (max-width: 767px) {
  .themes {
    .items {
      .item {
        width: 100%;
      }
    }
  }
  .paginate {
    .pagination {
      .page-number {
        display: none !important;
      }
    }
  }
  .filter-themes {
    float: left;
    margin-bottom: 40px;
    width: 100%;
    .filter-it {
      width: 100%;
      padding: 15px 65px 15px 22px;
    }
  }

}